[2020-10-30 15:47] roshangautam opened #18 "Convert PASopa to a dotnet cli project"
Should PASopa project be converted to a proper dotnet cli tool?

For reference : https://github.com/dotnet/command-line-api

fyi @MikeStall

[2020-11-03 19:17] MikeStall opened #21 "Server side changes to improve .msapp format."
Improve the real .msapp format to make conversions easier.

As general principles:
- avoid double json encoding because that breaks checksums.
- separate out volatile information (timestamps, per-environment) from stable information.
- remove fields that are redundant or don't need to be emitted.

Some specific things:

- [ ] Double encoding in PCF controls
- [ ] Double encoding in Properties.json

[2020-11-03 22:26] #18 closed, assigned to nobody

[2020-11-18 16:49] MikeStall opened #26 "Template.json isn't roundtripping"
Template.json doesn't round-trip the Components information.

Template.json gets fully sharded to xml files in the \pkg dir, so it doesn't even appear in the source file.
That's losing the Components information.

We're also wrongfully excluding it from checksum because of the escaped xml.  The checksum should cover everything.

[2020-11-18 21:58] #26 closed, assigned to lesaltzm

[2020-11-19 21:31] microsoft-github-operations opened #29 "ACTION REQUIRED: Microsoft needs this private repository to complete compliance info"
There are open compliance tasks that need to be reviewed for your PowerApps-Language-Tooling repo.

## Action required: 4 compliance tasks

To bring this repository to the standard required for 2021, **we require administrators of this and all Microsoft GitHub repositories to complete a small set of tasks within the next 60 days.** This is critical work to ensure the compliance and security of you

[2020-11-19 22:28] #29 closed, assigned to nobody

[2020-11-23 17:25] MikeStall opened #31 "Cleanup any $$$ markers"

[2020-11-23 17:28] MikeStall opened #32 "Proper error reporting"
Remove the Console.WriteLines and use a proper error reporting callback.
The host (PAC CLI) can then implement this callback and show errors properly.

[2020-11-23 17:30] MikeStall opened #33 "Resolve .editorState"
Determine what to do with .editorState files.

Maybe also split the .editorstate.json into a subfolder under /src/editorstate so it's less crowded.

- if you delete the .pa.yaml, we'll just ignore the corresponding .editorstate
- if you delete the .editorstate, we'll create a bunch of defaults that may not be the same as the original.

[2020-11-23 17:31] MikeStall opened #34 "Review /other directory for file updates"

[2020-11-24 19:00] MikeStall opened #35 "handle components"
Ensure we can round-trip components.

[2020-12-01 00:54] lesaltzm opened #36 "Represent Component Template Names with UXComponent/DataComponent instead of a GUID"
![image](https://user-images.githubusercontent.com/69215460/100683150-979a9500-332c-11eb-801a-7a5bc5c0cc81.png)
This is not the ideal experience, we'd prefer the definition be

Component1 As UXComponent

And the use be

Component1_Instance As Component1

[2020-12-02 01:27] #32 closed, assigned to MikeStall

[2020-12-02 23:55] #35 closed, assigned to lesaltzm

[2020-12-03 21:00] MikeStall opened #40 "Review usages of RegEx"
We have some hacky cases where we use REgex.

[2020-12-03 21:02] MikeStall opened #41 "Setup backcompat tests"
Setup some backcompat tests to verify that the sources are stable.

[2020-12-03 22:16] ghurlman opened #42 "PASopa crashes when run w/o args"
To repro, run PASopa.exe from a CLI w/o any args

Expected: usage is shown
Actual: Crashes w/ a stacktrace

[2020-12-03 23:12] #33 closed, assigned to nobody

[2020-12-04 00:55] #42 closed, assigned to nobody

[2020-12-06 23:27] coatsy opened #48 "Wrong title echoed to Terminal"
https://github.com/microsoft/PowerApps-Language-Tooling/blob/0a2ff0f7ed6f248b6ff12fd54a30695ba930b1b5/src/PASopa/Program.cs#L126

This line echos `Pack`. Should be `Make`

Fixing this should help while debugging.

[2020-12-07 23:02] lesaltzm opened #49 "Component Instance Properties with Default Values show up in output"
![image](https://user-images.githubusercontent.com/69215460/101415679-31b68c00-389d-11eb-9345-3144895ead5a.png)

[2020-12-07 23:57] lesaltzm opened #50 "Prevent adding new properties to components"

[2020-12-08 18:31] #48 closed, assigned to nobody

[2020-12-08 18:31] #50 closed, assigned to nobody

[2020-12-08 20:17] lesaltzm opened #52 "Add support for Test Suites and Test Cases"

[2020-12-08 20:17] lesaltzm opened #53 "Use 4 space indent for yaml files to match Studio's default for tabs in formulas"

[2020-12-08 20:18] lesaltzm opened #54 "Review need for Ignore/ directory (double escaped JSON)"

[2020-12-08 20:32] RPagels opened #55 "NewPathToApp Folder Auto-create"
When using -pack  **NewPathToApp.msapp** PathToSourceFolder

It will be useful to create the **NewPathToApp** folder if it doesn't exist, instead of erroring out.

[2020-12-08 22:31] lesaltzm opened #57 "Rating control causes round trip failure due to mismatch of capitalization between xml and json"

[2020-12-09 18:39] #57 closed, assigned to lesaltzm

[2020-12-09 21:04] MikeStall opened #59 "build issue: don't require GIT on path"
Our build infrastructure, /targets/Program.cs takes a hard dependeny on Git being on the path:

`static string RootDir = Read("git", "rev-parse --show-toplevel", noEcho: true).Trim();`

If it's not on the path, we get a cryptic error.

[2020-12-09 21:32] #52 closed, assigned to lesaltzm

[2020-12-10 00:26] #59 closed, assigned to lesaltzm

[2020-12-11 19:25] #36 closed, assigned to lesaltzm

[2020-12-11 22:55] #49 closed, assigned to lesaltzm

[2020-12-12 01:24] #40 closed, assigned to lesaltzm

[2020-12-12 01:29] #31 closed, assigned to lesaltzm

[2020-12-12 03:12] #54 closed, assigned to lesaltzm

[2020-12-14 19:25] lesaltzm opened #66 "Update the README and documentation with info on YAML and file layout"

[2020-12-15 00:01] #55 closed, assigned to MikeStall

[2020-12-15 00:02] #53 closed, assigned to MikeStall

[2020-12-15 01:04] MikeStall opened #71 "Per-file checksum for diagnostics"
For diagnostics, provide a checksum per-file.
Still keep the top-level msapp checksum for easy compare., But if that's different, then we can look at per-file checksums. This can help diagnose things like which Screen or Data source was changed.

[2020-12-15 17:18] MikeStall opened #72 "Noisy diff: Sarif file"
The Sarif file is a noisy diff.  It's 1-line json file, and changes each time we export.

[2020-12-15 17:19] MikeStall opened #73 "Noisy diff: Properties.LocalDataBaseReference"
We should strip LocalDataBaseReference and Local* from Properties.json (CanvasManifest.json). These are noisy diffs and already shared to other files.

[2020-12-15 17:20] MikeStall opened #74 "Format: Extract "api definitions" from data source to their own file"
In data source, extract the “API Definitions” (ie, TableDefinition,Swagger,Wadl,etc) to a separate file. The API def for CDS Contacts is 1.6 MB.
Also need to consider whether these files can be optional (can they just be deleted?) - What happens when an API definition changes?

[2020-12-15 17:21] MikeStall opened #75 "Noisy Diff: PublishOrderIndex.editorstate is volatile."
Adding a control to screen1 will change the   PublishOrderIndex.editorstate for screen2.

[2020-12-15 18:07] MikeStall opened #76 "Responsive containers have extra default properties."
Adding a responsive container pulls in some extra default properties.

![image](https://user-images.githubusercontent.com/1538900/102254143-237bf780-3ebd-11eb-9a18-4d9585dc5544.png)

[2020-12-15 18:13] MikeStall opened #77 "Test failing due to newline encoding issues"
YamlWriter test is failing on windows when download from Zip due to CRLF issues:

Expected:<P0: =abc\nObj1:\n    P1a: |-\n        =A#B\n    P1b: =B\n    Obj2:\n        P2a: =A\n    P1c: =C\n>.
Actual:  <P0: =abc\r\nObj1:\r\n    P1a: |-\r\n        =A#B\r\n    P1b: =B\r\n    Obj2:\r\n        P2a: =A\r\n    P1c: =C\r\n>."}

[2020-12-15 19:32] #34 closed, assigned to lesaltzm

[2020-12-15 21:07] MikeStall opened #79 "noisy diffs: screen ordering"
If I change screen order, editorstate.json  Index changes.  What this means is that if I insert a screen into a 30 screen app, 29 editorstate json files will all change.

We should have a single place that lists the screen order (either separate file or an array in CanvasManifest.json)

[2020-12-15 21:16] #72 closed, assigned to nobody

[2020-12-16 00:23] #79 closed, assigned to lesaltzm

[2020-12-16 01:54] MikeStall opened #81 "Noisy diffs from Multiple exports"
**In canvasmanifest.json:**
Lots of volatile perf counters, etc that don't below. Move to entropy?
![image](https://user-images.githubusercontent.com/1538900/102294560-6d390200-3efe-11eb-8a72-7bd159245574.png)

![image](https://user-images.githubusercontent.com/1538900/102294565-6f02c580-3efe-11eb-82e1-71e4bcfb3b82.png)

![image](https://user-images.githubusercontent.com/1538900/102294569-70cc8900

[2020-12-16 05:13] #75 closed, assigned to lesaltzm

[2020-12-16 21:46] MikeStall opened #84 "error if multiple controls have the same name"
This should not happen in well-behaved scenarios. But this can happen if somebody manually edits the files (such as trying a manual textual merge).

[2020-12-17 00:27] #73 closed, assigned to nobody

[2020-12-17 02:06] MikeStall opened #86 "better source span on yaml."
better source span on yaml.

Do a duplicate control definition in pa.yaml  and verify we get meaningful source locations..

[2020-12-17 03:56] #84 closed, assigned to MikeStall

[2020-12-17 17:51] gregli-msft opened #89 "Custom component Input and output properties should be better differentiated"
In the bleow, CustomProperty1 is an Input property and CustomProperty2 is an Output property.  Yet they show up the same way, which is very confusing.
[code]

It should be something closer to:

[code]

In the future, we may be  supporting separated Input and Output properties:

[code]

Not something blocking public preview, but we should look at this as we add the other metadata for property param

[2021-01-05 19:15] lesaltzm opened #92 "Consider using some sort of checksum mechanism to ensure Component Template and .pa.yaml are in sync"

[2021-01-06 00:06] MikeStall opened #94 "oom on msapps with large files"
The basic problem is that we load the entire msapp into memory (CanvasDocument).

And then oom at places like this:

[code]

We should calculating this in a streaming way rather than ToBytes().
(sarif file can be huge)

We should scrutinize usage of FileEntry.ToBytes, and probably need to be lazier and have documents backed by disk.

[2021-01-06 00:09] MikeStall opened #95 "Shard PropertyJson.LibraryDependencies"
When consuming a component via a libraries, in the Consumer, there’s this in propertiesJson:

    "LibraryDependencies": "[{\"LibraryId\":\"737b973d-124d-4927-83a4-799e6b60c49b\",\"LibraryLogicalName\":\"\",\"OriginalComponentDefinitionTemplateId\":\"51d8f4a68c934385b451a1bedba9d8ed\",\"SourceLastTimeSaved\":\"2021-01-05T20:12:30.194+00:00\",\"RefusedSourceLastTimeSaved\":\"0001-01-01T00:00:00\",\

[2021-01-11 16:29] MikeStall opened #97 "Review file format"
Review the  file format to ensure it plays well with source control and Pull Request merging. Ensure each *Directory* falls into the following category, where all files in the directory have the same rules:

| # | Kind | Details | Examples |
| ---| --- | --- | ---  |
| 1 |  Source | file should be checked in | pa.yaml  |
| 2 | cache | file (in-theory) can be recreated, Still require checking in fo

[2021-01-11 17:05] #66 closed, assigned to gregli-msft

[2021-01-11 21:34] #74 closed, assigned to lesaltzm

[2021-01-12 20:09] #71 closed, assigned to lesaltzm

[2021-01-12 23:21] #95 closed, assigned to nobody

[2021-01-12 23:35] #81 closed, assigned to nobody

[2021-01-12 23:37] lesaltzm opened #100 "Understand resources.json rootpath and potentially move to entropy"

[2021-01-13 21:27] #100 closed, assigned to lesaltzm

[2021-01-15 05:54] amervitz opened #107 "Ideas to make .msapp files 'source code' (i.e. developer) friendly"
Hello,

Having read the blog post at https://powerapps.microsoft.com/en-us/blog/source-code-files-for-canvas-apps/, I have some feedback for you to consider, in order of importance.

1. Don't build extra tools to compensate for a file format that isn't source code/git friendly to begin with. The process of packing and unpacking the .msapp files is what I consider a **legacy** concept taken from Dy

[2021-01-15 08:27] marcgerner commented on #107
Hi,

Great to have this feature! As source code management becomes more a thing nowadays, even with small businesses and small projects, this is a very helpful feature.

What I fail to understand is why you are using YAML here... The whole app is based on JSON-files and we already export the solution and store the JSON-files at this point. JSON is perfectly readable and far more accepted than YAML

[2021-01-15 08:52] DTR-fforest commented on #107
Woleheartedly agree with this.
- Pack/unpack should go. In fact, we should have a viewer in an IDE like LogicApp where we can switch between the two
- YAML..?
- Intelisense, of course
- Coding PowerApps in Python? Definetly a nice bonus ^^

[2021-01-15 09:55] BetimBeja opened #108 "Errors should be written to Console.Error"
Writing errors to `Console.Error` instead of `Console.Out` helps with logging when calling the tool from batches or from custom wrapper tools.
I have noticed this kind of  "problematic" implementation in `SolutionPackager.exe` from [Microsoft.CrmSdk.CoreTools](https://www.nuget.org/packages/Microsoft.CrmSdk.CoreTools) too.

[2021-01-15 15:01] Laskewitz commented on #107
Why YAML, whyyyyy?! 😭 Would love to see JSON instead...

[2021-01-15 16:58] MikeStall commented on #107
Thanks for the discussion!

Re the original points:
1 - "why not just trivial unzip"? Fully agree. "PaSopa" (and Solution Packager) should just be an unzip.  Our take was that we could iterate far quicker with a client-side tool, more easily collect user feedback, and we could make it open source.  Our longer term plan is to push these updates into the server and make this a trivial unzip operatio

[2021-01-15 17:15] #108 closed

[2021-01-15 17:16] MikeStall commented on #108
Fixed issue with pull request #109

[2021-01-15 18:12] scottdurow opened #110 "Handle missing parameters gracefully"
Using `pasopa -unpack` outputs the error:
[code]
Expected output:
[code]

Since this will eventually make its way into SolutionPackager - maybe this isn't a priority?!

[2021-01-15 18:44] MikeStall commented on #110
Right - pasopa is just a test harness, the way this will ship is via PowerApps CLI  and Solution Packager.

[2021-01-15 19:08] scottdurow opened #111 "Review use of YAML"
YAML is like [marmite ](https://en.wikipedia.org/wiki/Marmite) - you either love it or hate it! I think there an opportunity here for an open community discussion around the use of YAML as the 'source code format' - possibly from the perspective of:
1. **Diff/Merge** - we obviously want it easily diff/merge in source control and ALM - would alternatives (e.g. JSON/XML/Other) make it easier or hard

[2021-01-15 19:15] scottdurow opened #112 "Supress empty properties"
If a property is empty, then consider removing it from the pa.yaml

E.g Could **HoverFill** and **HoverBorderColor** be removed to lower verbosity?
[code]

[2021-01-15 19:30] lesaltzm commented on #112
Thanks Scott!
This is an interesting point to consider. Right now, we treat a property that's missing slightly different than an empty property. A missing property means "Use the default value for this", which for Icon.HoverColor is `ColorFade(Self.Color, 20%)`, whereas an empty property is a property that the author explicitly set to empty in PowerApps Studio. Open to changing this, let me know w

[2021-01-15 19:36] scottdurow commented on #112
So if you had a value in a property (e.g. HoverFill) and you clear it - then you can never go back to it being empty again?
I think it rather comes down to the null/empty string behaviour of the control.

I can't think of any time that an empty string couldn't be treated as null for the purposes of setting properties?
In Excel, if you clear a cell then it is treated as Empty - and not ""

[2021-01-15 20:01] MikeStall commented on #111
"Indentation/Escaping/New Lines" is a huge issue here. It was a top priority that the format here was human readable and editable, and that means users could copy and paste directly between various usages: studio's formula bar, the text format in VS code, documentation, and online answers they may post in forums.

For comparison, consider this formula for a Text property:
[code]

Here's how it loo

[2021-01-15 20:31] scottdurow opened #113 "Adding new control gives error: MsApp is corrputed. Duplicate Control Unique Ids"
I added a new control into a screen.pa.yaml (copied from an existing control but with a new Unique ID - and then packed.

[code]
The following error was thrown, but the app loads ok:
[code]

Are there some additional steps I need to do when adding a new control via code - rather than via studio?
If I round-trip - I get a new entry in editorstate.json for the new control.

[2021-01-15 20:46] lesaltzm commented on #112
It's a bit tricky. We're trying to capture that the author explicitly set the property to Empty when it's default was non-empty.
In Excel, this isn't an issue, since the default value for every cell is Empty.

In our case, you would hide it by setting the property back to whatever it's original value was, in this case `ColorFade(Self.Color, 20%)`.

[2021-01-15 20:46] scottdurow opened #115 "Parse error: Missing ':' when using #comments in .pa.yaml source files"
The following code gives the error `Error   PA3003: Parse error: Missing ':'. If this is a multiline property, use | at Screen1.pa.yaml:2,18-2,18`

[code]

but this code packs ok:
[code]
When I unpack after a pack with comments - the pa.yaml is missing all the detal after the comment and is just:
[code]

Are yaml comments supported in pa.yaml files?

[2021-01-15 20:50] scottdurow commented on #112
Understood - so if the property default was empty or "" and the value was changed by the maker - unpacked - then cleared - and unpacked again - it would remove the property from the pa.yaml?

[2021-01-15 20:52] lesaltzm commented on #110
Can't hurt to clean it up, added a PR to check args count.

[2021-01-15 20:55] lesaltzm commented on #112
Yes, pretty much. The only other thing is that empty and "" are different, so
[code]
and
[code]
are different. One property is Blank(), the other is "" (empty string). Both interact with defaults the way you described in your last comment.

[2021-01-15 20:59] #110 closed

[2021-01-15 20:59] #113 closed

[2021-01-15 21:00] scottdurow commented on #112
So the rule is if I set a property to a value that is different from the default, I'll see it in the pa.yaml - but if it's the default value then I won't see it there. Perfect!

The motivation for picking up on this was that in the SoPa, some of the XML nodes get generated even if they are empty and the default value - this makes it very verbose in source control.

Closing this issue!

[2021-01-15 21:00] #112 closed

[2021-01-15 21:22] MikeStall commented on #115
We *do not support Yaml comments* in the .pa.yaml file. This is because we they would get dropped during a round trip.
We do support PowerApps comments in the formulas (use // )

We should be giving parser errors in the cases above to explicitly warn which parts of Yaml are not in the supported subset.

We're capturing the docs for this here:
https://github.com/microsoft/PowerApps-Language-Tooling

[2021-01-15 21:35] scottdurow commented on #115
Rather than block the pack - could comments be allowed but a warning emitted to indicate that they won't be retained if you round trip - I can think of situations where comments would be useful in code-gen type scenarios.

[2021-01-15 22:56] scottdurow opened #117 "Controls should be ordered in the screen yaml the same as the zOrder in Studio"
I have noticed that the order of the controls in a screen yaml element are not ordered by zOrder (and hence the order shown in studio). This then results in very noise diffs when unpacking.

[2021-01-16 00:05] #117 closed

[2021-01-16 15:52] Kato88 commented on #111
What about XML and the usage of cdata? Wouldn't it make your example to

`<text>
<![CDATA["Hello" &
"World"]]>
</text>`

I don't know if this could work but would reduce the amount of chars that needed to be escaped.
Although I don't really see a big benefit in choosing XML over yaml. It still had the same issues with length and size.

[2021-01-16 22:11] smfpride commented on #111
@MikeStall I comprehend what you are saying, but I'm not sure that I understand the reasoning if that makes any sense.

I think it would help to understand who the target audience is for the hand writing/editing of the yaml is. Reason being, I feel that the subset of yaml, paired with the precise formatting required to make it work, makes the target audience not citizen developers, but "pro" devel

[2021-01-17 01:39] MikeStall commented on #111
@Kato88 - CData is still very verbose, especially because this is an issue for *every* property. There can be hundreds of properties in a file (see Scott's original example at the top of the thread).

And _it's often not obvious realizing when you need to escape_ (perhaps one troublesome character in a long string).
For example, consider changing an 'equals' to 'less than or equals'. In the yaml a

[2021-01-17 01:48] MikeStall commented on #111
@smfpride  -
We would like to enable humans editing the source files (pa.yaml) in VS Code and other IDEs, particularly for cases where the focus is on formulas instead of UI layout. Screens that are mostly UI layout will still be best to do in Studio.

We think a pro-developer could sift through, manage these different contexts, and escape as appropriate, but that it's very easy to get wrong and w

[2021-01-19 08:25] megel opened #119 "Question: Automate the download/upload of .msapp files from/into PowerApp environment"
Is there a PowerShell cmdlet to automate the download / upload of `.msapp` files?

[2021-01-19 14:31] scottdurow commented on #119
Once released, my understanding is that this will all happen via the solution packager and so the msapp will be exported/imported via the solution.zip

[2021-01-19 16:53] MikeStall commented on #119
@megel - Scott is correct. This is currently just available in github. We're responding to some initial feedback from early adopters, and then we will make it available via the normal PowerPlatform ALM story:

- PowerApps CLI: https://docs.microsoft.com/en-us/powerapps/developer/data-platform/powerapps-cli
- and Solution Packager:  https://docs.microsoft.com/en-us/power-platform/alm/solution-packa

[2021-01-19 19:39] lesaltzm commented on #119
I think either Get-PowerApp or Get-AdminPowerApp from https://docs.microsoft.com/en-us/power-platform/admin/powerapps-powershell should help. You can download the app from the documentUri those commands return if you have the right permissions.

[2021-01-19 19:39] #119 closed

[2021-01-21 01:44] amervitz commented on #111
The desire of combining data structures and  code in one file is what I see as being the main challenge to finding a file format that can store both, without needing any escaping or other formatting restrictions. Why not keep the different types of data in their own respective files that then allow the information in each to be represented in their most natural format?

[2021-01-21 01:50] MikeStall commented on #111
@amervitz - that's exactly what we do. For example, Connector information and API definitions are still in .json.  But formulas are in .pa.yaml.

[2021-01-21 02:03] amervitz commented on #111
@MikeStall the expressions in the .pa.yaml cannot be expressed in their raw format though, and the file contains properties with and without expressions. I'm suggesting the expressions should not be in the yaml file but externally in a separate file.

[2021-01-21 02:09] scottdurow commented on #111
@amervitz I initially thought the same, but having used pasopa for a while on some very large apps - it feels good having the expressions in the yaml so you can see all the control properties in one place - rather than continually swapping between files and formats.

I think the exception would be for supporting common functions - where the function code could be stored in a different file and the

[2021-01-21 02:15] MikeStall commented on #111
@amervitz - that yaml file **is** the "externally separate file"!

Every property is an expression (although most properties are trivial expressions such as a single number).   So if we put each formula in its own file, that could result in 10000s of files for a canvas app. We need some format allows multiple properties to be placed in a single file, without escaping. That's yaml (or could have be

[2021-01-21 02:16] amervitz commented on #111
@scottdurow I can't argue with the productivity benefits of having the expressions in the same file.

Are "common functions" a new concept or already possible? If new, I've asked for this and would like to see msft design this. If existing, if like to see an example.

[2021-01-21 08:09] megel commented on #119
@lesaltzm yes I can access the my PowerApp by `Get-PowerApp` and the result is:

![image](https://user-images.githubusercontent.com/15800069/105321740-23f86400-5bc8-11eb-8bb1-f711b8af386f.png)

Which `documentUri` do you mean - the `id` listed as internal and hwo can I download the app?

[2021-01-21 14:31] Kato88 commented on #111
The question is whether it is more problematic to have thousands of lines of YAML files with countless indentations or to have thousands of smaller files with fewer indentations. Sounds to me like you should go with the lesser of two evils, and I see YAML as the best option at the moment.

[2021-01-21 18:29] TerhoAntila commented on #119
@megel I am not able to access the documentUri either. But one option is to use Power Automate flow to accomplish this. Use _Get App_ Action from _Power Apps for Makers (Preview)_. That will return a direct URL to the downloadable zip that actually is the msapp file. Next you can use HTTP action to GET the file from the URL and save it e.g. to your OneDrive folder with _Create file_ action.

[2021-01-22 00:58] scottdurow opened #120 "Warning PA2001: Checksum mismatch. File Controls\194.json checksum does not match on extract"
What be the cause of the warning:
[code]
I also get messages like the following:
[code]

This happens on first extract where there were no existing files extracted.

[2021-01-22 01:04] lesaltzm commented on #120
That's a warning we're using to catch cases where we aren't accurately able to roundtrip the app, it's been really useful in helping us find bugs when working on this. Can you

[2021-01-22 01:07] lesaltzm commented on #120
That's a warning we're using to catch cases where we aren't accurately round-tripping the .msapp. If this is occuring on -unpack, can you email me with a copy of the app (my email is my github username + @microsoft.com) so I can track down what the issue is?

[2021-01-22 10:07] megel commented on #119
@TerhoAntila thanks! The flow works fine. But what is about the way back? Is there a possibility to Import the generated package by API?

[2021-01-22 10:31] mariusagur commented on #111
I think indentation gets exponentially worse as the number of lines grows, so for me it's just two different evils.
With the risk of saying something stupid, I would prefer there was a superset which transpiles to whatever you end up with.
Something that would enable you to create sections and link to files/other sections as you wish. This would also be great for snippets and creating a in-house l

[2021-01-22 13:01] Kato88 commented on #111
I think there is better tooling for indentations than for long files. And by todays standard you probably have a wider than longer screen. In the end it comes down to preferences?

Maybe another very bold (or stupid) idea, but could you do subfiles for pa.yaml? Like one file per container?

`|
|- Screen1.pa.yaml
|--- MainContainer.pa.yaml
|----- LeftContainer.pa.yaml
|----- RightContainer.pa.yaml`

[2021-01-22 20:00] devkeydet opened #121 "Make AppCheckerResult.sarif available"
#72 moved AppCheckerResult.sarif to Entropy file.  We want to use this Azure DevOps extension:
https://marketplace.visualstudio.com/items?itemName=sariftools.scans
...to be able to review app checker results during the Pull Request process.  The extension makes the contents of *.sarif files readable on the individual build page in Azure DevOps by adding a Scans tab.  Want to make it part of our pr

[2021-01-22 22:22] MikeStall commented on #121
We have some forces pushing it into Entropy:

1. No noisy diffs -  but sarif is a noisy file (I recall there were even timestamps in it) .  We actually had #72 to move it to entropy.
2. We need clear PR / Merge guidance.  Right now, we tell them to blow away checksum,entropy in case of a merge conflict.

But this issue makes the case for having it in its own file.

Splitting into its own file may

[2021-01-22 22:53] MikeStall commented on #115
We'll allow comments on their own line.
But we still reject yaml comments on a line with other formulas - because it's too easy that the intention was actually a formula and we're trying to protect against confusion (and against the formulas being accidentally interpreted as yaml comments and stripped )

[code]

We'll give a warning now like:

[code]

[2021-01-23 01:16] #86 closed

[2021-01-23 01:16] #115 closed

[2021-01-23 10:21] TerhoAntila commented on #119
Unfortunately that doesn't seem to be possible - I've looked into it quite extensively lately. One option might be to package the app into a Solution and deploy that (with Azure DevOps for example). Haven't tried that, thought. Yet!

https://docs.microsoft.com/en-us/power-platform/alm/solution-packager-tool

[2021-01-24 11:52] megel commented on #119
@TerhoAntila
My conclusion after review of possible options (Flow & API) is:

A flow with GetPowerApp or GetPowerApps from the PowerApps Makers connector works fine to get the published PowerApp Packages (`msapp` format). Unfortunately, this is not as expected to support a Development Workflow where we can use the Language Tooling:

1. Download & Extract Designer App
2. Modify YAML sources
3. Pack

[2021-01-25 12:32] TerhoAntila commented on #119
@megel There is also an action called List Power Apps (or similar). This will allow you to extract also non-published packages.

[2021-01-25 12:33] TerhoAntila commented on #119
Hmm, or was it get versions or something...

[2021-01-25 21:59] lesaltzm opened #123 "Group controls don't represent parent-child relationships correctly"
![image](https://user-images.githubusercontent.com/69215460/105771400-592ceb00-5f15-11eb-8ab1-1e85f08a8b47.png)

Group controls' children are flattened to the same level, and the group control is pushed to the end. The actual parent-child relationship is in GroupedControlsKey in the .editorstate.json for that control.

[2021-01-26 01:39] MikeStall commented on #111
@Kato88 -  The challenge is that sometimes people want them all in a single screen file (often if it's small) and other times they want them in multiple files.  In C# and other languages, the compiler lets you organize the source files however you'd like.

However, With pa.yaml, we need to pack **and unpack**, and to avoid "noisy diffs", we need the unpacked sources to match exactly with the packe

[2021-01-26 01:57] amervitz commented on #111
@MikeStall what's the roadmap for common functions? If they were in a separate file and the yaml file were just a call to the common function by name with parameters, the file containing the common functions could be a pure source code file without any yaml restrictions.

[2021-01-26 04:55] MikeStall commented on #111
@amervitz  -
One challenge here is that we want the source format to be 100% faithful to the server format. This means that the file must round-trip and the server must understand all the concepts present in the source files. This means that we avoid client-side transforms like preprocessors and client-side build steps.  So while somebody could emulate code-reuse here by having a client-side scrip

[2021-01-26 06:35] SeaDude opened #124 "Fails to build on Ubuntu 20.10: MSBUILD : error MSB1009: Project file does not exist."
Hello,

Excited to try these new version control features. I'm unable to build on Ubuntu 20.10.

**Steps to reproduce:**
1. **Clone this repo**
2. **Install .NET 3.1 SDK using:**
`sudo apt-get install -y dotnet-sdk-3.1`
  - **Note:** the 5.0 SDK did not work. When trying to run `./build ci`, errored out with:
[code]
3. **After installing 3.1, the `./build ci` error is:**
[code]
Any ideas?

Thank y

[2021-01-26 14:07] amervitz commented on #111
If no further details of functions can be provided outside of announcements, I'm on board with using YAML for properties if:
- there will definitely be future support for said functions
- the functions will allow the raw source code for multi-line expressions to be stored in separate file(s) and not require any escaping

[2021-01-26 14:51] devkeydet commented on #121
Normalizing the sarif json would be nice, but not necessary, since in our scenario we don't anticipate people doing diffs on the sarif json.  It's really just a way for us to use the fact that the sarif json is there and surface the results in a more human readable format than looking at json files.  Ideally, the sarif file wouldn't actually be something we commit to source control.  Instead somet

[2021-01-26 15:59] MikeStall commented on #121
The challenge is that we also want to reduce noisy diffs - multiple exports of the same msapp shouldn't produce diffs in source control.  Non-canonical json (such as property ordering) can be noisy.

[2021-01-26 19:48] lesaltzm commented on #124
I put up a PR that should fix the build issue, but we have quite a few test failures on linux that still need to be addressed.

[2021-01-26 19:51] lesaltzm opened #126 "Add stream overloads for LoadFromMsapp"

[2021-01-26 20:26] devkeydet commented on #121
As long as the sarif file is still valid sarif, then I'm happy.  The AzDO extension references this:
https://github.com/microsoft/sarif-web-component
and this:
https://sarifweb.azurewebsites.net/
If you can reduce noisy diffs wall not impacting it as being valid sarif, I'm all for it!

[2021-01-27 00:10] lesaltzm opened #128 "Test failures on Linux and MacOS"

[2021-01-27 00:11] lesaltzm commented on #124
@SeaDude, resolving this issue, adding #128 to address the non-windows functionality issues.

[2021-01-27 00:11] #124 closed

[2021-01-27 00:40] MikeStall commented on #128
Issue #77 may also be related - newline encoding.

[2021-01-27 00:41] MikeStall opened #129 "OS handling of path separators"
Avoid \ / literals in directory names because it's not cross-plat. (see #128)
Always use Path.Combine instead.

Fix this at the DirectoryReader/DirectoryWriter level.

[2021-01-27 02:59] SeaDude commented on #124
After a `git pull` I was able to get past the `MSBUILD: error MSB1009` error noted here.

Will comment in #128 on the resulting error.

Thank you

[2021-01-27 02:59] SeaDude commented on #128
Test failure output.
Ubuntu 20.10
[code]

[2021-01-27 03:02] SeaDude commented on #128
Looks like an escape issue or Windows "\" vs. nonWindows "/" issue(?)
`/tmp/a42d6957-9e55-412e-8cde-efaf8b7483d5/Src/Tests**\**Test_7F478737223C4B69.pa.yaml`

[2021-01-27 05:47] MikeStall commented on #129
@SeaDude  - I think this is the issue you're observing.

[2021-01-27 16:17] MikeStall opened #131 "Add non-windows builds to CI pipeline"
We can have CI build other platforms.
https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/azure-pipelines.yml#L9

Currently, we just do:
[code]

This will help verify
https://github.com/microsoft/PowerApps-Language-Tooling/issues/128

[2021-01-27 20:32] #123 closed

[2021-01-29 00:08] lesaltzm opened #135 "PublishOrderIndex is a volatile diff after unrelated changes in studio"

[2021-01-30 18:35] SeaDude opened #136 ""The term 'pasopa' is not recognized as the name of a cmdlet...""
Hello,
Spun up a Windows 10 machine to play with this tool.

**After...**
1. Installing the pre-reqs
2. Downloading a `.msapp` file from my tenant
3. `cd` to the directory with `.msapp` file
4. Running `pasopa -unpack .\DEV.msapp ToSourceFolder`

**...I receive...**

[code]

Is this a `PATH` issue or something related to the tool?

Thank you

[2021-01-30 18:39] SeaDude commented on #136
Tried adding the `pasopa.exe` file to my PATH, but...
![image](https://user-images.githubusercontent.com/8636973/106364985-6536f500-62e7-11eb-8ca1-6f2e64f9423d.png)

...same result when running command above.

[2021-01-30 18:46] SeaDude commented on #136
**Hm... also tried...**
1. Adding a System Variable for `pasopa.exe`
![image](https://user-images.githubusercontent.com/8636973/106365135-5c92ee80-62e8-11eb-981f-743ece7f97b7.png)

2. Moving `.msapp` file to `PowerApps-Language-Tooling` directory

[code]
...same results.

[2021-01-30 20:34] SeaDude commented on #136
Gosh! Finally figured it out...

`User variables` then `New` doesn't create a new variable in your PATH variable. It creates a new variable altogether.

Had to instead...
1. Select the `path` variable shown
2. Add the path to `pasopa.exe`
3. Close and reopen PowerShell

GTG now.

[2021-01-30 20:34] #136 closed

[2021-02-01 20:17] rappen commented on #111
[shameless plug]

We're having an interesting discussion with @MikeStall on this topic on the latest XrmToolCast episode.
https://go.xrmtoolcast.com/pasopa

[2021-02-01 20:35] #120 closed

[2021-02-01 20:49] lesaltzm opened #138 "AutoLayout properties under the DynamicProperties key should be included in the Yaml output, not .editorstate"

[2021-02-01 20:58] lesaltzm commented on #138
Default values for AutoLayout properties are hardcoded in PowerApps-Client, so we should replicate that logic for handling default values.

[2021-02-02 00:55] lesaltzm commented on #135
PublishOrderIndex is an ordering of the controls

[2021-02-02 16:31] MikeStall commented on #135
Our findings: PublishOrderIndex  is used to establish a tab-ordering (for accessibility) when the app is running.

What we have here is a new class of data: _values that can only be computed in the designer_.

Each control has a PublishOrderIndex, which means adding 1 control to a screen could change the index of every other control and produce noisy diffs.  We already use the serialization order

[2021-02-02 17:07] scottdurow commented on #135
The end goal here is to make merging easy - if we had it in entropy I can imagine that packing would fail after a merge because we don't do merges on entropy files?

[2021-02-02 17:11] scottdurow commented on #135
Does this mean that if PublishOrderIndex is in entropy - then merges of changes where controls move x,y will be ok?

[2021-02-02 18:03] MikeStall commented on #135
@scottdurow  - our guidance on entropy is that it can be deleted in case of a merge.  Entropy is all the "noisy" - but not essential
 - stuff like timestamps , It's required to faithfully round trip during pack/unpack.

Yes! More generally - _if changes don't intrinsically conflict, they should be mergable_.

[2021-02-02 20:17] #135 closed

[2021-02-03 20:01] #121 closed

[2021-02-04 01:05] lesaltzm opened #142 "Add default value handling for responsive properties"

[2021-02-04 01:36] lesaltzm opened #143 "Investigate default value handling for non-default styles"
e.g. why are PaddingRight.. showing up for this label control with style "titleLabelStyle_galleryLayouts_ver5"
[code]

[2021-02-04 01:37] MikeStall opened #144 "Build issue: sign dlls"
Looks like Core build is signed, but .Net build is not.

This is resulting in build errors when consuming:
[code]

[2021-02-04 02:09] #138 closed

[2021-02-04 16:19] MikeStall commented on #97
Key file format updates made with #140
We may have a candidate for final format.

[2021-02-04 18:40] #126 closed

[2021-02-04 20:32] #144 closed

[2021-02-05 21:28] gregli-msft opened #147 "Checksum warnings should not be shown by default"
Unpacking, making a simple formula modification, and packing again should not create a checksum warning by default.  It is concerning to users who think they have done something wrong.   It is fine to have the warning under a command line switch that does the checksum comparison, or have a "packverify" version of pack that is designed specifically for this purpose, whatever is easiest - it just sh

[2021-02-05 21:35] lesaltzm commented on #147
We definitely should keep the warnings on `unpack`, that helps us catch bugs and doesn't collide with a valid user scenario.

[2021-02-05 23:10] gregli-msft commented on #147
I have no problem with unpack and pack throwing warnings and errors if they find something unexpected, especially if it helps us catch bugs.  As you say, it is the valid user scenarios that I'd like to clean up.

[2021-02-06 00:20] #142 closed

[2021-02-09 23:48] MikeStall opened #149 "build pipleine should stamp git hash"
For diagnostics, particularly when troubleshooting a specific source format error, it can be very useful to know which version exactly of the alm tool produced it.

The build pipeline should stamp the git commit hash, so that the ALM tool can then stamp it into the entropy\checksum.json.

[2021-02-10 00:52] lesaltzm commented on #143
These properties are being overridden from their default values based on the parent control's variant. For now, it's safer to leave these properties in the .pa.yaml, as not all the variant definitions are encoded in the app and unpacked to /pkgs. In the future, this could be revisited if all the variant definitions are available on a package feed.

[2021-02-10 00:52] #143 closed

[2021-02-10 15:18] westerdaled opened #150 "Error PA3002: Format is not supported. Can't find CanvasManifest.json file - is sources an old version?"
A week ago

- Cloned the repo ,` build ci`
- Downloaded and unpacked our 'App (Production).msapp'
- I successfully edited the source and remove an erronous sql  connection
- packed the app and opened it in our production environment, to check an annoying error "need to share the SQL Server connection " has gone.
- It had , so happy days!

Today I thought I would repeat the process  and document wh

[2021-02-10 16:37] MikeStall commented on #149
It would also be good to know if it's a local build (not an official CI build),

[2021-02-10 18:24] lesaltzm commented on #150
Hi Daniel, thanks for bringing this up. That definitely shouldn't be happening. When unpacking an app, we immediately try to repack it as well, just to ensure that nothing went wrong in the unpack process. It looks like that's failing here.

Can you check what actually got added to `C:\dev\Clients\AnyClient\powerappsrc\`, since the unpack should have been successful? Is there a CanvasManifest.json

[2021-02-10 19:55] #149 closed

[2021-02-10 20:47] westerdaled commented on #150
Hi McCall

Thanks for looking into this.
Yes it seems have unpacked correctly, as CanvasManifest.json  is in ` C:\dev\Clients\AnyClient\powerappsrc\.`

[2021-02-10 20:51] lesaltzm commented on #150
Thanks! I'm able to reproduce it. It looks like we have a small bug when building the path for that repack step. As a workaround, if you run the command without that last `\` in the target folder path, you shouldn't see the error.

[2021-02-10 20:58] westerdaled commented on #150
Cool . That is much better😀, I can get on with my documentation.
![PASopa without the trailing slash](https://user-images.githubusercontent.com/937208/107571306-a631e200-6be2-11eb-86d0-ff0ebe7869ea.PNG)

[2021-02-10 21:38] #150 closed

[2021-02-11 04:03] RobertR21 opened #153 "PA3001: Internal error. Can't unescape path"
Received the following error when using `pasopa -pack`:

`PA3001: Internal error. Can't unescape path: DataSources\JourneyPlanner|Sendforapproval.json`
Note that in the actual DataSource folder, the file is named "JourneyPlanner%7cSendforapproval.json"

"JourneyPlanner|Sendforapproval.json" is in refernce to a Power Automate flow that's associated with the Canvas App I'm trying to pack.  If I had

[2021-02-11 08:36] MikeStall commented on #153
@RobertR21 - does this repro on the latest build? We had a recent fix that might address this.
If it still repos, is it possible for you to share your .msapp file with me? You can send it to jmstall at microsoft dot com.

[2021-02-11 18:10] lesaltzm commented on #76
Unfortunately the group container .oam.xml is not included in the msapp template files currently. This will need to be addressed on the server before anything can be done here.

[2021-02-11 18:10] lesaltzm commented on #76
item added to #21 to track.

[2021-02-11 18:48] MikeStall commented on #76
Can we special case this on the client, so that we at least get the right format now? And then remove the special casing when we get the server update?

[2021-02-11 20:04] lesaltzm commented on #76
Yes, we definitely can.

[2021-02-11 22:34] RobertR21 commented on #153
Hi @MikeStall - I think I used the latest build. I just cloned/opened it with github desktop yesterday (11th of Feb 2021).

Happy to send a msapp file that reproduces this as well, just need to create an anonimised version because the comments/datasources of the app might reference some potentially sensitive information regarding the client I'm working for..

[2021-02-11 23:44] #76 closed

[2021-02-18 11:18] mdocter opened #156 "Using a relative folder with -pack throws PA3001: Internal error. Invalid URI: The format of the URI could not be determined."
When using -pack with a relative source folder path, the following error is thrown:

[code]

This is caused by the `new Uri(...)` constructor call at the following line:
https://github.com/microsoft/PowerApps-Language-Tooling/blob/739698182d830fc3370590e3141c830b2fdd81c1/src/PAModel/Utility/Utility.cs#L153

When I specify the full Windows folder path (including drive letter etc.), it works fine.

[2021-02-18 11:42] mdocter commented on #153
I'm using the latest version and I have the same error when a Screen name contains a dash (-).
For example `my-screen` is unpacked as `my%2dscreen.pa.yml` and afterwards fails to pack with this error.

The utitlity `DontEscapeChar` method is maybe a bit to restrictive?

https://github.com/microsoft/PowerApps-Language-Tooling/blob/739698182d830fc3370590e3141c830b2fdd81c1/src/PAModel/Utility/Utility

[2021-02-18 16:07] MikeStall commented on #153
@mdocter - thanks for the tip ... that helped me create a repro!

Re `DontEscapeChar` ... it should be ok to do extra escaping (in theory, we could fully escape everything). The reason not to escape is readability. Although we could avoid escaping '-' to preserve readability, but it's not a correctness issue.
For example, we need to run on multiple operating systems, so the file escaping rules can

[2021-02-18 17:18] MikeStall commented on #153
The problem is we're double unescaping the path.
Utility.GetRelativePath unescapes, so this snippet double unescapes:

[code]

[2021-02-18 18:03] #153 closed

[2021-02-18 18:26] #156 closed

[2021-02-18 19:20] mdocter commented on #156
Amazing Mike! Thanks a lot!

[2021-02-19 16:29] mdocter opened #160 "How to handle multiple Themes in the Themes.json file"
I hope you guys can help me with a custom Theme question.

When I unpack a msapp file, the `Src\Themes.json` file is one of the files that appears.
In an unmodified app, this file contains the 'defaultTheme' and looks like this:

![image](https://user-images.githubusercontent.com/796916/108345373-7a17f180-71de-11eb-9db0-3facb16e8553.png)

Now I want to add my own custom theme, named 'myTheme'. So

[2021-02-22 23:10] MikeStall opened #161 "remove timestamp from app.sarif"
The timestamps in the .sarif file cause noisy diffs.
We should omit it or move it to entropy.  The rest of the file apperas pretty stable.

[2021-02-23 00:33] jack-work opened #162 "URI Format Error During Unpack When Using Relative Pathnames"
Error when using relative pathnames.  Reproducible in PowerShell and ConEmu.  Uncertain whether or not this affects the output content.

Error   PA3001: Internal error. Invalid URI: The format of the URI could not be determined.
![image](https://user-images.githubusercontent.com/62115878/108787835-6b597380-752b-11eb-8090-d1aa6a5b79ad.png)

[2021-02-23 08:51] MikeStall commented on #162
Possible dup of #156?
Are you synced on latest? Current bits should be normalizing relative paths to full names.

[2021-02-24 17:39] MikeStall commented on #162
Closing as fixed, duplicated of #156, which was recently fixed.

[2021-02-24 17:39] #162 closed

[2021-02-24 23:29] caiomontei opened #163 "Unpack fails if app uses one of the AI Builder text formulas"
When trying to unpack an app that contains AI Builder text formulas, the following error occurs.
![image](https://user-images.githubusercontent.com/45020185/109079854-670c9200-76b4-11eb-851d-322fa1dda61a.png)

Exception is thrown at the LoadDataSources method in SourceSerializer.cs

Attached is a msapp that triggers the issue.
[old1.zip](https://github.com/microsoft/PowerApps-Language-Tooling/file

[2021-02-25 18:42] MikeStall commented on #147
I think the distinction here is when the warning comes from our automatic "repackage after unpack to verify it worked" ... any checksum mismatch from that step is a bug.

[2021-02-25 20:01] #163 closed

[2021-02-26 00:48] MikeStall commented on #161
We'll fix this on the server and have server stop emitting the timestamps.

[2021-02-26 00:48] #161 closed

[2021-02-26 00:54] MikeStall opened #166 "ensure that yaml properties are strongly ordered [noisy diffs]"
The yaml properties are bucketed into groups, but the specific order within a bucket is not canonical.

this is technically not breaking, but will lead to noisy diffs.

[2021-02-26 00:55] MikeStall commented on #21
#161 - remove timestamp in sarif files.

[2021-02-26 17:20] MikeStall commented on #166
Today: (random order)

[code]

If we order via a sort on identifier:

[code]

[2021-02-26 22:15] #166 closed

[2021-03-02 20:35] #147 closed

[2021-03-03 19:07] lesaltzm opened #171 "TemplateMetadataJson doesn't roundtrip unexpected new properties introduced by studio"

[2021-03-03 19:27] #171 closed

[2021-03-04 02:44] scottdurow opened #173 "Report clearer error if checksum.json has been deleted"
Currently, if `checksum.json` has accidentally been deleted or not committed, the error message is:

`PA3001: Internal error. Object reference not set to an instance of an object.`

It would be good if this could be a message to specifically indicate the missing file.

[2021-03-04 03:23] scottdurow commented on #173
Perhaps even not require this file at all since it doesn't necessarily make sense in a CI Build situation that happens due to a PR merge.

[2021-03-04 18:47] megel opened #175 "PowerApps-Language-Tooling as Artifact / Node.js"
Hi, is there a chance to get the Power Apps Solution Packer as Node.js package or Artifact?

I want to include a dependency to the newest release in my VSCode Extension:
https://github.com/megel/powerapps-helper
https://marketplace.visualstudio.com/items?itemName=megel.mme2k-powerapps-helper

[2021-03-04 18:55] #173 closed

[2021-03-04 21:14] MikeStall commented on #175
That's a cool VSCode extension!

The code here is C# (not Jscript).  Would a nuget.org package work?

Our plan for distribution is to use the Power Apps CLI.  (https://docs.microsoft.com/en-us/powerapps/developer/data-platform/powerapps-cli)

[2021-03-06 00:58] #77 closed

[2021-03-06 00:58] #128 closed

[2021-03-06 00:58] #129 closed

[2021-03-06 00:58] #131 closed

[2021-03-06 10:03] megel commented on #175
@MikeStall thanks. Currently I have included a setting in my VSCode Extension which can be configured to the path of `PASopa.exe`:
![image](https://user-images.githubusercontent.com/15800069/110202650-7afd8400-7e6a-11eb-8480-889e9d949a82.png)

For this you need to clone your repository and build the `PASopa.exe`. This works fine for, but is not comfortable for the users. Especially, when the devic

[2021-03-08 16:22] MikeStall commented on #175
@megel - would pulling a built binary from nuget.org work for you?

This should work on MacOs,Linux, etc with the recent PR from #177 .

[2021-03-09 07:20] megel commented on #175
@MikeStall this might work. Do you have an example how-to download and include the nuget package in github CI build?

[2021-03-09 11:24] devkeydet commented on #175
Here's an example of how to download pac in Azure DevOps PowerShell tasks.

`steps:
- powershell: |
   $nugetPackage = "Microsoft.PowerApps.CLI"
   $nugetPackageVersion =  "1.5.3"
   $outFolder = "pac"
   nuget install $nugetPackage -Version $nugetPackageVersion -OutputDirectory $outFolder
   $pacNugetFolder = Get-ChildItem $outFolder | Where-Object {$_.Name -match $nugetPackage + "."}
   $pacPath

[2021-03-09 13:28] megel commented on #175
I test currently a similar approach:
1. download the PowerApps-Language-Tooling repo
2. run the "./build ci"
3. store the environment specific output as artifact
4. restore all os-specific-artifacts in my vsce-build job in bin-folders like:
  bin/ubuntu
  bin/windows
  bin/macos
5. build my vsce including the bin folders

[2021-03-10 10:15] megel opened #181 "Mixed CR and CRLF in Canvas App *.fx.* files after unpack"
My unpacked canvas app contains mixes between CR and CRLF after the export:

![image](https://user-images.githubusercontent.com/15800069/110613620-c62cd500-8191-11eb-837b-aab533612d8f.png)

I guess this should be unified.

[2021-03-10 21:59] #181 closed

[2021-03-11 00:22] #160 closed

[2021-03-11 14:14] mdocter commented on #160
Thanks for fixing McCall! I just tested it and it works like a charm.

[2021-03-15 18:12] bli585 opened #184 "PA3005 Validation Error"
Saving out an app of ours to a msapp file and attempting to run:

pasopa -unpack "*edited out paths for post*\MSAPP\Billing Management System.msapp" "*edited out paths for post*\MSAPP\src"

There is a live version of this app that is used daily by multiple users.

A warning and an error received, below. No files generated in src folder.

Warning PA2001: Checksum mismatch. Checksum doesn't match on

[2021-03-15 18:55] lesaltzm commented on #184
That looks like a bug with the Test Studio experimental feature from the editor. They should always be writing out a TestStepsMetadata property. Would you be willing to email your app or at least the 2.json file to me (lesaltzm@microsoft.com) so I can look into this further.

Also, if you open the test studio for that app, is there anything odd? A screenshot of that would also be appreciated.

[2021-03-15 19:28] bli585 commented on #184
Emailed the JSON file and a screenshot over!

[2021-03-15 20:51] swerver32 opened #185 ""PA3002: Format is not supported. Can't find CanvasManifest.json file - is sources an old version?""
I have a new powerapp that started with 1 home screen.  Then 2 different devs took copies and made a couple new screens each.  Now we want to merge these back into 1 app.  I can unpack and pack both apps individually.  When I copied the second on to the first in an attempt to merge them, I now get the error in the subject header, when I try to pack the new merged folder.  The file CanvasManifest.j

[2021-03-15 20:54] lesaltzm commented on #184
From @CarlosFigueiraMSFT's investigation

[2021-03-15 20:56] lesaltzm commented on #184
This appears to be a bug in our tool, we'll address it. In the mean time, to unblock yourself, you can probably just delete that AppTests folder when you have the .msapp open in 7zip.

[2021-03-16 00:23] #184 closed

[2021-03-16 02:49] MikeStall commented on #185
Be sure they both are on the latest format (exported by the latest build of the tool).
You should be able to merge them via git or any 3-way merge just like you'd do with a normal code.

Delete the \entropy directory - this will have lots of conflicts, but this directory is optional.

[2021-03-17 14:59] vkusher opened #187 "Working with the unicode screen names"
The tool escapes all unicode chars and makes file's name unreadble.
The code also crashes when there is a "/" char in the screen's name
Consider to change the **DontEscapeChar** method inside of the **Utilities.cs**
to :
[code]

[2021-03-18 03:27] MikeStall commented on #187
Are you on the latest builds? ("FormatVersion": "0.20", in the CanvasManifest.json).

I just tried an app with a /, and it escapes it as  `Screen%2f1.fx.yaml`
If it reproes on latest builds, can you share your msapp with us to repro?

One challenge for escaping is that we need to be cross-platform - the files may get unpacked on one OS, checked into git, and then used in another OS. So we can't us

[2021-03-18 03:28] MikeStall commented on #185
@swerver32 - do the instructions here help in your scenario?

[2021-03-18 03:33] MikeStall commented on #175
@megel  -
Can your project just reference the nuget package?
https://www.nuget.org/packages/Microsoft.PowerPlatform.Formulas.Tools/0.2.1-preview

And then call into it the same way that pasopa does?
https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/src/PASopa/Program.cs

Your tool would then include a copy of that dll as part of your tool and distribution.

[2021-03-18 09:03] vkusher commented on #187
You're right, the issue related to the lenght of the screen's name.

[2021-03-18 16:08] MikeStall commented on #187
How long is it? Can you share the screen's (unescaped) name here?

[2021-03-18 16:21] vkusher commented on #187
I think the problem appears when screen's name is greater then 40 unicode characters.
As an example, take this name:
одиндваодиндваодиндваодиндваодиндваодинд

[2021-03-19 19:19] pratapladhani opened #189 "Application Insights Instrumentation Key needs to be handled separately"
Power Apps Canvas apps allow adding an Application Insights instrumentation key as per [this article](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/application-insights).

After unpacking, currently this Instrumentation Key is part of the CanvasManifest.json file as part of the Properties Array. It would be great to have this Instrumentation Key pulled out as a separate file, so tha

[2021-03-19 19:52] swerver32 commented on #185
I ended up abandoning that .msapp and tried again with the latest version, had better luck with that one.  Still didn't figure out what was wrong with the old one.  It seems like if there are too many new screens, connections, etc then the merge doesn't work as well as a merge of apps that are not adding those things.

[2021-03-22 15:57] MikeStall commented on #189
More on PowerApps and AppInsights:
https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/application-insights

[2021-03-23 17:31] lesaltzm opened #191 "Validate that no entry in themes.json has a default script of empty string"
Found from automated alerts in PA-Client

[2021-03-24 16:00] MikeStall commented on #187
There are 2 issues here:
1. Long path names. Windows has a limit of MAX_PATH (260) characters for the full filename.  There may be some things to get around this. https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#win32-file-namespaces
2. Better handling of unicode. Do we escape to aggressively?  Escaping hits the first issue because escaping makes the path lon

[2021-03-27 14:51] psik-sh opened #192 "Warning PA2001 on unpack of package"
Hi. When trying to unpack a package, I get this error. Since the error isn't more descriptive, I can e-mail the msapp in question.

[2021-03-27 14:58] psik-sh commented on #192
The app in question is an app that has been in development for a long time, so I thought that was the reason the unpack didn't work properly. However, I just tried to unpack a much simpler app and an app I just created with only a single control. Both of these also failed the unpack with the same error.

[2021-03-27 17:45] lesaltzm commented on #192
Thanks @psik-sh. Can you send the apps to lesaltzm (at) microsoft.com?

[2021-03-29 09:19] m3ngi3 opened #193 "ParentIndex property random?"
I am just a noob when it comes to developing so please forgive me if this not worth adding to the GitHub as an issue.

My situation:
I have a Power App connecting to SQL database. I duplicated the Power App for DEV-purposes in studio and reconnected to duplicate Flows as well as the SQL Connections to a DEV-Gateway connecting to a DEV-database (on same machine as PROD-database but nevertheless a d

[2021-03-31 07:38] LaelLeeH commented on #192
Hi,
Also a noob here. I think I am getting the same error as @psik-sh

Warning PA2001: Checksum mismatch. Checksum doesn't match on extract.
0 errors, 1 warnings.

When I initially ran the unpack it complained about a chksum mismatch on a table which I had removed from my Azure SQL DB and from my app, months back. So I recreated the table in SQL using its original name, imported it back into my ap

[2021-03-31 08:00] LaelLeeH commented on #192
I see it did unpack the app, so can I just ignore the warning??

[2021-04-01 19:43] lesaltzm commented on #192
Hi folks! This is just a Debug warning, it has no impact on the actual project.

For people facing this issue, if you build the project with `./build ci -c Release` and run the project from `\bin\Release\PASopa\PASopa.exe`, you shouldn't see this warning. If you still are seeing PA2001 after doing that, please create a new issue.

[2021-04-01 19:43] #192 closed

[2021-04-08 21:06] ccolomier opened #194 "Issues recombining combo box control's MultiValueDelimiter property"
When merging two apps we ran into an issue where the MultiValueDelimiter property was returned as just a comma and space without the quotes.

![image](https://user-images.githubusercontent.com/32962556/114096241-fdd08f00-98ad-11eb-8947-e2a08ce386b9.png)

The value should be, based on our original app.

![image](https://user-images.githubusercontent.com/32962556/114096330-1b055d80-98ae-11eb-83c0-a3

[2021-04-08 21:10] lesaltzm commented on #194
Can you post/screenshot the .fx.yaml files after you merged the apps?

[2021-04-08 21:37] ccolomier commented on #194
Good call,

It doesn't seem to even have the MultiValueDelimiter property in the .fx.yaml file:

![image](https://user-images.githubusercontent.com/32962556/114099611-9d901c00-98b2-11eb-8fbe-01a0b6981b11.png)

[2021-04-08 21:46] lesaltzm commented on #194
Is ToolTypeInput.MultiValueDelimiter present in either of the apps you were merging?

[2021-04-09 13:36] ccolomier commented on #194
I don't believe it is. The original app, unpacked using this tool again, produced the following .fx.yaml code which defines the ToolTypeInput comobox control:

![image](https://user-images.githubusercontent.com/32962556/114188365-1032e300-9917-11eb-93d4-2b6b3c0f4196.png)

Obviously, as you can see, ToolTypeInput.MultiValueDelimiter is also missing from the original unpacked app.

[2021-04-21 11:47] iBoonz opened #197 "Uploading modified MSAPP loads and works, but after saving it does not reopen."
Hi,

We have been testing the toolkit to dynamically copy and reuse yaml screens based on DataVerse Tables.  We are able to create and import a msapp file with new screens connected to existing Dataverse Tables. The app runs perfectly in the canvas editor and we can save the application. But as soon was we want to open it again, it does not open without any error.

We already tried recreating the

[2021-04-21 14:45] MikeStall opened #198 "For Asset filenames, use name ("MyImage.svg") instead of number (0003.svg)"
Similar to what we did with control filenames to use control name instead of oid.
(this can be done in a non-breaking way)

[2021-04-22 16:20] #198 closed

[2021-04-22 18:11] #185 closed

[2021-04-23 16:48] lesaltzm opened #201 "After deleting editor state and entropy, -pack succeeds, but -unpack after that can fail."

[2021-04-28 15:00] megel commented on #175
@MikeStall sorry for the late answer.

Well using this nuget package is fine for me on my local computer where all dependent assemblies are present. I can use PowerShell or TypeScript.

But in a pipeline, this becomes a nightmare because of **"Could not load file or assembly ...."** like:
[code]

The PowerShell works fine, but the dependencies on a Build Agent in Azure DevOps (Microsoft-Hosted & w

[2021-04-28 22:02] StevenRasmussen opened #202 "Issue using the `pack` command when the directory being packed includes a period (.) in its name"
The logic in the `Utilities.AppendDirectorySeparatorChar` [here](https://github.com/microsoft/PowerApps-Language-Tooling/blob/c443fc7823c25d91e9f653aef6236095299382f5/src/PAModel/Utility/Utilities.cs#L173-L183) does not consider directories that include a period (.) in their names, ie "C:\SomePath\SomeSolution\SomeSolution.SomeProject"

Since the `Path.HasExtension` method returns `true` in this i

[2021-04-28 22:42] MikeStall commented on #175
For the nuget, you'd need to do a proper nuget restore so that it downloads the dll dependencies.

Alternatively, we will soon be shipping in https://docs.microsoft.com/en-us/powerapps/developer/data-platform/powerapps-cli,

[2021-04-29 18:05] MikeStall commented on #202
The root problem here is that we want to call Path.GetRelativePath(), but that's not available in our framework, so we have a hand rolled implementation, and that implementation has bugs.

The latest official  implementation is at: https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/IO/Path.cs#L861

(but that impl is very complex with lots of helpers, OS-spe

[2021-04-30 01:01] MikeStall commented on #202
resolved with #204

[2021-04-30 01:01] #202 closed

[2021-04-30 19:16] #197 closed

[2021-04-30 21:48] msjammu opened #205 "The build failed."
1. Install .NET Core SDK 3.1.x (x64).
2. Clone the repo at https://github.com/microsoft/PowerApps-Language-Tooling
3. Run build.cmd in the root directory.

build failed. Ideas?

E:\Git\PASopa\PowerApps-Language-Tooling>build
C:\Program Files\dotnet\sdk\3.1.408\NuGet.targets(128,5): error : Unable to load the service index for source https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v

[2021-05-03 15:57] MikeStall commented on #205
It looks like you have some global nuget configuration that's adding private feeds.
See the 401 and the reference to nuget dependency https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json?

[2021-05-04 23:22] MikeStall opened #207 "Asset filenames can collide"
Asset names in canvas can be case sensitive.
But filenames are case insensitive.

So renaming the assets filenames to give them friendly names  (see  #198 ) can cause a collision and break unpacking.

[2021-05-06 03:19] #189 closed

[2021-05-06 21:42] lesaltzm opened #209 "The groupcontroltransform pass does not work correctly without editorstate"

[2021-05-06 21:42] lesaltzm commented on #209
If editorstate is missing, the group control loses it's reference to it's children.

[2021-05-07 16:53] MikeStall commented on #207
Fixed with #206

[2021-05-07 16:53] #207 closed

[2021-05-10 18:19] MikeStall opened #211 ""Not supported" should be its own error, easy to filter out."
There are cases the tool doesn't support (like old CDS connectors).
We want to filter out "not supported" from "tool crashes".
These should give a dedicated ErrorCode (4001) rather than the internal errors (30xx).

[2021-05-10 18:22] MikeStall opened #212 "Fix organic failures"
There are some crashes errors we're seeing from monitoring:

- [x] Error PA3001: Internal error. The input does not contain any JSON tokens. Expected the input to start with a valid JSON token, when isFinalBlock is true. Path: $ | <LineNumber> | <LinePosition>.
- [x] Error PA3005: Validation error: Group control Group6's state refers to non-existent child highLbl_2
- [x] Error PA3001: Internal err

[2021-05-11 10:18] iBoonz opened #213 "Form element - enable lock property to remove 'custom field' in form fields"
When modifying Form fields locally, the field is changed from text, number, .. to custom field.
Based on the functionality I see in the portal is that PowerApps is looking the locked property, could this property be added to the YAML?

Thanks

[2021-05-13 15:52] MikeStall opened #215 "Show error if a pkg xml is missing"
On pack, show a warning if a yaml file references a control template (ie, pkgs\label_2.3.1.xml) that's missing.

Bonus if we can give a good error reference a location in the yaml that Refers to the pkg.

[2021-05-13 19:03] lesaltzm commented on #213
This is an interesting question: Locking of controls is something we've considered "Editor state", since it isn't meaningful w.r.t the resulting app. Could you elaborate on why you'd want this to be part of the yaml? What scenarios would it enable for you?

[2021-05-13 19:19] lesaltzm opened #216 "Shard Connections.json into files to make by-hand changes cleaner"

[2021-05-13 19:19] lesaltzm opened #217 "Update Assets/ + Resource.json to enable eliminating or significantly reducing resource.json"

[2021-05-13 22:53] MikeStall commented on #216
Discussed more offline - our guidance here should be just to delete connections.json. That's akin to "log out" or clear browser cookies.

[2021-05-13 23:03] MikeStall commented on #187
We actually have more flexibility here for the yaml file name because the control's name is still inside the yaml contents. So the yaml file name is not needed to re-pack and get the control name. This means we could do something like truncate for long names, and add a mini hash to avoid collisions (use hash, not incrementing number)

[2021-05-13 23:14] MikeStall commented on #217
fyi, supported file extensions:
[code]

[2021-05-13 23:16] #216 closed

[2021-05-13 23:17] MikeStall opened #218 "Update docs with "how to merge" instructions"
Update the docs with more instructions on how to safely merge, incorporating the new feedback we've gotten.

[2021-05-14 23:36] #209 closed

[2021-05-17 21:59] MikeStall commented on #187
Adding Breaking tag since if we change the file encoding, that could be breaking.

[2021-05-18 23:28] suskumar-MSFT commented on #215
#220

[2021-05-18 23:51] #211 closed

[2021-05-19 03:17] #215 closed

[2021-05-19 06:29] Nkumar1619 opened #222 "App not working after we unpack and pack it again"
The App is using a gallery control to populate data based on a collection. It works fine for the first time in the preview once we publish the app, it is not showing the data. Even though data is present in the gallery.

[2021-05-19 15:28] MikeStall commented on #222
Collection data is temporary - so it may just be getting reset.
Do you see the same behavior if you skip the pack/unpack and just import/export the msapp (without any pack/unpack involved)?

Are you getting any checksum mismatch errors on re-pack? Repacking should get the exact same msapp as before.

[2021-05-19 15:34] Nkumar1619 commented on #222
@MikeStall thanks for the response.

I do not see the same behavior when I export/import the msapp it works fine.

Whenever I pack/unpack the app it is not giving any checksum mismatch error. On uploading the repackaged app it works fine in preview. Once we publish the changes, it is not getting the data for that gallery. If we monitor the network call it is returning the data for that collection.

[2021-05-19 16:29] MikeStall commented on #222
Is it possible to share the msapp with us? You can email it to jmstall at microsoft dot com.

[2021-05-19 22:29] MikeStall commented on #218
updated readme.

[2021-05-19 22:29] #218 closed

[2021-05-21 16:15] thelilyliu opened #224 "EditorState.json file generates property "AlignInContainer" that isn't recognized in Studio"
In my YAML file, I have a container with some labels inside of it. When I pack the app and upload it to Studio, it complains about Label1.AlignInContainer: "Name isn't valid. This identifier isn't recognized."

The property "AlignInContainer" is being generated in the EditorState.json file by PowerApps-Language-Tooling:

[code]

However, when I create an app from scratch in Studio, download it, an

[2021-05-21 22:43] RoSchoe opened #225 "People Picker field out of order after import custom form"
I migrate powerapps custom form from one tenant to an other.
After Importing and Upload / Publish the form the people picker field (drop down) is out of order.
I have a sharepoint list as backend and field of type person or group (person).

Items:
`Choices([@'SharePointList'].Personfield)`

If i set a new field with the same information everything works fine.
Do i have to replace Azure AD ids or s

[2021-05-21 22:43] lesaltzm commented on #21
Sample Resources and Sample Data should not be written to the .msapp. The studio should be able to recreate them on load.

[2021-05-21 22:45] lesaltzm commented on #225
To clarify, the data that shows up in that dropdown is out of order?

[2021-05-21 23:42] RoSchoe commented on #225
It looks fine. But you can not Look for people anymore, it stays blank and seems to hung. The Text "find items" is missing too.
I have testet another Form - Same result.
No warning, No Error. If you add same field again (fesh) it works.

[2021-05-21 23:45] lesaltzm commented on #225
When you used this tool (PASopa), did you have any errors or warnings?

[2021-05-21 23:50] RoSchoe commented on #225
No errors. - i did replace all Sharepoint List Ids by Script.
Then Pack everything and Import to powerapps gui

[2021-05-22 06:38] RoSchoe commented on #225
I will check what happens if i do an Import without use of pasopa.

[2021-05-22 11:07] RoSchoe commented on #225
I did an import without unpack and pack with pasopa - only replace list data in the "Microsoft.PowerApps\apps\ID\ID.json
 After the import to the list in the other tenant and remove replace all databases the people fields are fine.

That means the failure with the people field is caused by unpack, replace ids and pack the *.msapp

[2021-05-24 09:31] RoSchoe commented on #225
I found a solution and the problem:
After import with PASopa the combobox field Allow searching is turn "off"
![image](https://user-images.githubusercontent.com/37191319/119327440-46d47b00-bc83-11eb-8efc-b704cda7fcd8.png)

If you set it to on - all is fine.
![image](https://user-images.githubusercontent.com/37191319/119327130-ee9d7900-bc82-11eb-9369-f3dfcd7b5acf.png)

[2021-05-24 17:26] lesaltzm commented on #225
When you unpacked the app, was the `IsSearchable` property on that combobox  present?

[2021-05-25 16:06] MikeStall opened #226 "test case: deleting entropy"
Can you add a test case which deletes entropy and repacks?  This may need 2 msapps (the original, and the repacked-without-entropy).
Similar to what we do in RoundtripTests (that just verifies we can repack exactly).

[2021-05-25 16:07] MikeStall commented on #222
@Nkumar1619  - can you share the msapp with us?

[2021-05-25 16:24] #217 closed

[2021-05-25 23:13] MikeStall opened #227 "move Properties.ErrorCount in entropy"
In canvas properties, error count should probably be in entropy (it's like a checksum).

public double? ErrorCount { get; set; }

[2021-05-26 17:37] MikeStall opened #228 "Shard test.yaml"
Shard test.yaml into multiple files so that they can be merged.

[2021-05-27 17:43] #226 closed

[2021-06-01 17:32] MikeStall opened #232 "include callstacks in telemetry"

[2021-06-02 00:05] #228 closed

[2021-06-02 18:47] #187 closed

[2021-06-02 21:17] #232 closed

[2021-06-03 02:53] #227 closed

[2021-06-04 17:06] MikeStall opened #236 "Checksum update"
include filenames in the checksum.

[2021-06-05 08:32] #236 closed

[2021-06-07 21:56] MikeStall opened #238 "Better handling of user errors on input arguments"
The key requirement is that: PAC CLI doesn't report crashes for user errors, only report crashes for our actual bugs.

The common user errors here would be bad arguments, such as file paths to missing files. Or a corrupt zip. More esoteric ones would be a locked file

PAC CLI reports crashes for any unhandled exception. Today, these bad args cause unhandled exceptions.

Things we report back throu

[2021-06-07 21:57] MikeStall commented on #238
This is important to get right so that we don't get flooded with callstacks from user errors (see https://github.com/microsoft/PowerApps-Language-Tooling/issues/232)

[2021-06-08 12:45] ianwilk20 opened #240 "Illegal editorstate file"
Problem: After writing multiple test suites with different test cases in PowerApp's experimental Test Studio once extracting the app there seems to be multiple editorstate files created for the entire test studio and multiple extraction errors along with it

Attempted Fixes:
- I believe there should only be one editorstate file for the entire test studio, as there is for each screen in PowerApps s

[2021-06-08 17:33] #240 closed

[2021-06-08 17:45] #238 closed

[2021-06-08 17:47] lesaltzm commented on #205
Issue is stale, closing. Reactivate if you resolved the nuget config issue and are still having this problem.

[2021-06-08 17:47] #205 closed

[2021-06-08 19:58] RoSchoe commented on #225
Same Problem in Combobox
Before Import Combobox
![image](https://user-images.githubusercontent.com/37191319/121249138-88307180-c8a4-11eb-9b66-e3a8e1060a70.png)

 -> After import Combobox
![image](https://user-images.githubusercontent.com/37191319/121248961-53241f00-c8a4-11eb-980e-7e905c9f375c.png)

That means it is a combobox search problem

[2021-06-08 21:57] #194 closed

[2021-06-10 23:38] MikeStall opened #244 "Validate before deleting directories"
When unpacking, we delete the target directory - this is so stale artifacts aren't overwritten.
But if they specify the wrong directory (ie, desktop), that could delete too much and cause major data loss.

[2021-06-10 23:46] MikeStall commented on #244
See call to DeleteAllSubdirs()
https://github.com/microsoft/PowerApps-Language-Tooling/blob/58275118c9aa429e6605bf734b95926be81c4196/src/PAModel/Serializers/SourceSerializer.cs#L443

[2021-06-11 01:04] #244 closed

[2021-06-18 12:21] devkeydet opened #248 "PA3011: Roundtrip validation on unpack failed"
Using attached msapp
[cat_devopskitsamplecanvasapp_c7ec5_DocumentUri.msapp.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/6676965/cat_devopskitsamplecanvasapp_c7ec5_DocumentUri.msapp.zip)

[2021-06-18 16:33] #248 closed

[2021-06-18 16:36] lesaltzm opened #249 "Deleting all .editorstate files when the app has Tests leads to a validation error on -pack"
We use the EditorState to convert screen names to the corresponding UniqueId:
![image](https://user-images.githubusercontent.com/69215460/122591974-8d19c180-d018-11eb-91c4-c6bbd3548450.png)
We should create a path for this to work when statestore.contents is empty.
Otherwise, pack hits the error:
` _errors.ValidationError($"ScreenId referenced by TestStep {testStep.Rule} in {control.Name.Identifie

[2021-06-18 17:14] devkeydet commented on #248
What the best way to track when this will be part of a pac cli release?

[2021-06-22 00:10] MikeStall opened #251 "Better handling of PCF templates"
They all show up in ControlTemplates.json. Shard DynamicControlDefinitionJson into pkgs?

[2021-06-24 05:45] Chris-WP opened #252 "Unpack failing with PA3001: Internal error. Sequence contains no matching element"
We have a large .msapp PowerApp that is failing to unpack using the PowerPlatform CLI v1.7.2 version of the tool.

Is that version of the CLI using the latest release from this repository (i.e. "0.3.1-preview")?

The error message we receieve is very generic:
[code]

Is there any functionality/command switch we can use to gain a more detailed verbose error message?

[2021-06-24 06:46] Chris-WP commented on #252
After further investigation, using the compiled tool (PASopa) directly, I get an error message of:
[code]

[2021-06-24 16:59] MikeStall commented on #252
@Chris-WP  - can you send me a copy of your msapp and we can repo? Just email to jmstall at microsoft dot com.

[2021-06-25 02:10] Chris-WP commented on #252
Thanks @MikeStall. I have just now emailed the .msapp file to your Microsoft email address.

[2021-06-25 05:33] MikeStall commented on #252
Partial fix made. But there's still an issue with InvariantScript not round-tripping....

[2021-06-25 05:51] MikeStall opened #254 "yaml round trip error"
Getting this error from an msapp:
`Error   PA3003: Parse error: Property should be at same indent level at Workflows.fx.yaml:2285,17-2285,17`

[2021-06-25 06:15] MikeStall commented on #254
We roundtrip \n newlines, but not \r\n.  \\rn becomes 2 newlines.
See test case in branch Bug254.

[2021-06-25 19:48] #254 closed

[2021-06-29 04:39] MikeStall opened #258 "localization"
ensure localized resources can roundtrip.

[2021-06-29 12:40] crowcoder opened #259 "Transform Connections.json"
A major pain point for apps that use Sharepoint lists as data sources is that you have to edit them all when you move an app from one environment to another (e.g., dev to prod) . I noticed that PASopa.exe creates a Connectionsljson file that appears to be something I could use to change all the connections before importing the packed app. However, I'm not sure how to manage the object and connecti

[2021-06-29 19:14] caburk commented on #259
The recommended approach for your scenario is to use environment variables.

https://powerapps.microsoft.com/blog/announcing-data-source-environment-variables/
https://docs.microsoft.com/powerapps/maker/data-platform/environmentvariables#use-data-source-environment-variables-in-canvas-apps

[2021-06-29 20:36] suskumar-MSFT commented on #252
Made the remaining fix, it should work now.

[2021-06-29 20:36] #252 closed

[2021-06-29 21:03] crowcoder commented on #259
Last I checked (and tried), sharepoint connections were not supported by environment variables. Has that changed?

[2021-06-29 22:38] MikeStall commented on #259
@crowcoder  - one approach is to create 2 versions of your app (with sharepoint1 and sharepoint2) and then just unpack and diff them.

[2021-06-30 06:36] Chris-WP commented on #252
Thanks @MikeStall @suskumar-MSFT. I can confirm that my .msapp file now successfully unpacks using v0.3.4.

[2021-06-30 06:51] Chris-WP opened #260 "[Question] Understanding which version of the tool is included in which version of Power Platform CLI"
Is there a document or command line switch that advises which release of the PowerApps-Language-Tooling is included in which version of the Power Platform CLI?

For example, I note that v1.7.4 of the Power Platform CLI has been released on Nuget, but I'm not sure whether that is using v0.3.3 or v0.3.2 of this tool.

Also, is a new version of the Power Platform CLI always released when a new versio

[2021-06-30 11:15] ArsyMus opened #261 "Doesn't work on mac os"
Can't build on mac os. Returns an error.

[2021-06-30 15:53] MikeStall commented on #261
What error are you seeing?

Our CI does build on mac and linux on each commit. For example:
https://github.com/microsoft/PowerApps-Language-Tooling/pull/256/checks?check_run_id=2947292597

[2021-06-30 19:27] MikeStall commented on #251
Fixed with https://github.com/microsoft/PowerApps-Language-Tooling/pull/256

[2021-07-01 01:39] Chris-WP commented on #260
Thanks @MikeStall. Whilst in "preview", a table that shows CLI version to source version would be very helpful.

Especially as AA4AM (https://github.com/microsoft/coe-starter-kit/tree/main/ALMAcceleratorForAdvancedMakers) seems to be moving to use the Power Platform CLI.

[2021-07-01 12:50] devkeydet commented on #260
@Chris-WP - The ALM Accelerator for Advanced Makers will only use Power Platform CLI as a temporary measure until the Power Platform Build Tools support canvas unpack/pack natively.  At the risk of speaking for the team that owns Power Platform Build Tools, our working plan is to assume native Power Platform Build Tools support for canvas unpack/pack won't likely come until https://www.nuget.org/p

[2021-07-06 15:42] MikeStall commented on #260
@Chris-WP  - I've added that table to the readme, https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/README.md#versioning

[2021-07-06 15:42] #260 closed

[2021-07-06 18:02] MikeStall opened #262 "Update to default new ContentLanguage property"
Server added a new property, ContentLanguage .  This shouldn't show up in yaml if it's default.

[2021-07-06 18:29] MikeStall commented on #262
Needs to be added in https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/src/PAModel/ControlTemplates/commonStyleProperties.xml

[2021-07-06 19:30] #262 closed

[2021-07-07 04:32] Chris-WP commented on #260
Thanks @MikeStall. Much appreciated.

[2021-07-08 00:49] MikeStall commented on #258
Basically, we shard LDR and then merge with DataSources. But we only write DataSources. So for LDR entries that don't match to a DS, they get dropped.

[2021-07-13 17:34] MikeStall commented on #258
Fixed by https://github.com/microsoft/PowerApps-Language-Tooling/pull/270

[2021-07-13 17:34] #258 closed

[2021-07-14 14:11] mehakvij opened #273 "Getting error "Round trip Validation on unpack failed""
Getting an error when unpacking a canvas solution:

![image](https://user-images.githubusercontent.com/73190679/125636758-28da3850-3c07-4a1d-b069-b5ca81bb87d5.png)

![image](https://user-images.githubusercontent.com/73190679/125636817-0d559a27-7d0b-4405-b956-f8b4c1cb9eac.png)

How can this be fixed?

[2021-07-14 17:43] #201 closed

[2021-07-14 17:43] #249 closed

[2021-07-14 17:45] suskumar-MSFT commented on #273
@mehakvij bunch of roundtrip errors were recently fixed, could you try with the latest code and see if you still hit this issue? If you do, could you share the msapp file with us so that we can take a look?

[2021-07-14 22:38] suskumar-MSFT commented on #273
the bug is fixed, the fix would be available in the next CLI release.

[2021-07-14 22:38] #273 closed

[2021-07-15 14:37] p3pijn opened #276 "Find out whether a Solution is Managed or Unmanaged"
I'm looking to export all unmanaged Solutions from a given environment in an automated way.
When doing `pac solution list` this gives me a list of all solutions.
However, there seems to be no way currently to find out which Solutions are managed or unmanaged.
This is an issue because managed Solutions can not be exported.

Would it be possible to add a flag to the `pac solution list` command? E.g.

[2021-07-15 21:51] suskumar-MSFT commented on #224
Chatter with @thelilyliu, the issue is fixed in the latest code, hence closing.

[2021-07-15 21:51] #224 closed

[2021-07-15 22:44] suskumar-MSFT commented on #212
Have resolved all the telemetry issues, hence closing the bug.

[2021-07-15 22:44] #212 closed

[2021-07-20 19:17] johnelsbree opened #281 "Validate custom property names on components"
Custom properties on components have some naming restrictions:

- Characters must be only letters, digits, or underscores
- No duplication of existing property names
- Some names are reserved: AlignInContainer, FillPortions, LayoutMinWidth, LayoutMaxWidth

Language tooling should enforce these restrictions.

[2021-07-21 08:33] p3pijn opened #282 "Roundtrip validation failed while unpacking msapp"
Pac runs into errors while unpacking this Microsoft sample app: https://github.com/microsoft/PowerApps-Samples/blob/master/Embed/Canvas/samples/PowerAppsPlayerSdk/Player%20SDK%20sample.msapp

[code]

[2021-07-22 14:45] zhaparoff commented on #282
Have the same issue once updated my canvas app version from 3.21064.25 to 3.21071.26

[2021-07-22 15:09] mikefactorial opened #283 "Update Readme with latest version of PAC CLI"
Latest version of PAC CLI released on 7/21 not included in readme.md
Pac CLI Version | Yaml version
-- | --
1.7.2 | 0.23
1.7.4 | 0.23
1.8.5 | 0.24

[2021-07-28 16:58] #283 closed

[2021-07-28 19:01] lesaltzm opened #289 "Some Expressions in the premade calendar Screen aren't recognized as multiline properties"

[2021-07-28 20:20] #289 closed

[2021-07-30 16:24] MikeStall opened #291 "Failed on component input properties"
Problem when adding new component input properties.

Error PA3004: Unsupported operation error. This tool currently does not support adding new custom properties to components. Please use Power Apps Studio to edit component definitions

See commit ID 2eb28c8351ce0482990f9d8e3e1c1fb9ded4ccbb   in McCall's test alm app.

[2021-07-30 17:31] MikeStall opened #292 "SmartMerge doesn't recognize changes in media assets with the same names."

[2021-08-01 20:38] #292 closed

[2021-08-02 03:27] EPTS-Dev opened #296 "PA3011: Roundtrip validation on unpack failed. Version 1.8.6"
UnPack from C:\PowerApps\MSAppFiles\OP+IntakeSprint40FullBaseline.msapp-->C:\PowerApps\ProjectFolders\Sprint40Full
  source format version: 0.24                                                                                          C:\PowerApps\ProjectFolders\Sprint40Full
Error   PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue at https://github.com/micro

[2021-08-02 04:36] lesaltzm commented on #296
Hey @EPTS-Dev, thanks for the report. Was that the only message you saw when running the unpack command? Could you please send a copy of the app to me (lesaltzm at microsoft.com) so I can take a look and see what’s going wrong here.

[2021-08-02 15:46] MikeStall commented on #296
This could be the same issue as #282

[2021-08-02 15:54] EPTS-Dev commented on #296
Yes it could but there is no way of knowing for sure expect that it is the same error code.  The version where it appears is different though 1.6 to 1.8 so logged as a new issue so it doesn't get overlooked.

[2021-08-02 17:29] MikeStall commented on #282
Diagnosed. What's happening is unpacking is adding a new flag in the template:
    "FirstParty": false,

The sample is older ("HeaderLastSavedDateTimeUTC": "08/20/2019 01:29:03",)

[2021-08-02 17:55] MikeStall commented on #296
@EPTS-Dev  - can you send the msapp?  fwiw, It looks like #282 is because of an older app.

[2021-08-02 18:06] #291 closed

[2021-08-02 18:24] MikeStall commented on #296
Looking .. the difference here is in the TestStepsMetadata property.

[2021-08-02 19:01] MikeStall commented on #282
fixed in #296

[2021-08-02 19:01] #282 closed

[2021-08-02 20:21] MikeStall commented on #296
There's a \n  in the test's Description field. It's getting roundtripped as \r\n.
There's significant extra processing that happens for TestStepsMetadata (see https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/src/PAModel/SourceTransforms/AppTestTransform.cs ), so it's probably in there.

As a workaround, try removing the \n at the end of the property (will send email on which one

[2021-08-02 23:34] MikeStall commented on #296
(updating title)

[2021-08-03 16:43] EPTS-Dev commented on #296
Hi Mike

The workaround did not work for me.  Removing the /n (new line) from any Test Studio TestStep, then saving the app again to the desktop and trying to import in VS Code with the PowerApps CLI still generated a roundtrip validation error.  I even went as far as to remove the teststeps and I still get the error.

[2021-08-04 20:47] EPTS-Dev commented on #296
I removed all new lines from the test steps and the test on start, on completion, etc areas.  I am still getting the Error   PA3011: Roundtrip validation on unpack failed errors (2 instances)  If you want to see the .msapp file let me know where to send it.

[2021-08-04 20:49] MikeStall commented on #296
Send it to jmstall at microsoft dot com.  Thanks.

[2021-08-05 02:53] Chris-WP opened #300 "Error PA3011: Roundtrip validation on unpack failed"
We are experiencing a new unpack issue with the latest solution package we have developed.

The error is:
[code]

[2021-08-05 15:20] ianwilk20 opened #301 "OnTestCaseStart is not persisted"
Problem: OnTestCaseStart's are not saved after extraction using PowerApps-Language-Tooling

Steps to reproduce:

1. Create a suite in Test Studio
2. Set an OnTestCaseStart property
3. Save the Test Studio Session
4. Save the .msapp file to your computer
5. Unpack the .msapp file
6. In a code editor (like VS) try to find the OnTestCaseStart property you saved
7. The property is not saved

Additiona

[2021-08-05 15:28] ianwilk20 commented on #240
@MikeStall @lesaltzm @suskumar-MSFT

Can this issue please be re-opened as I am still facing this issue?

![IllegalEditorState](https://user-images.githubusercontent.com/47506745/128376698-404ebf4e-a53e-457f-8972-ce67c27b6f7b.png)

The only way to pack these source files is to delete all additional test editorstate json files ie. Test_7F478737223C4B69**_[Number]**.editorstate.json - otherwise if I

[2021-08-06 12:22] ejcasas opened #304 "When Pack a solution an Exception with a non recoverable error."
C:\Users\xxxxxxxxxx\Documents\GitHub\SolutionPath> pac canvas pack --sources c:\users\51190494\Documents\GitHub\SolutionPath --msapp c:\users\xxxxxxxxxx\Documents\GitHub\SolutionPath
Pack from c:\users\xxxxxxxxxx\Documents\GitHub\Perks-->c:\users\xxxxxxxxx\Documents\GitHub\SolutionPath
  source format version: 0.24

"Sorry, the app encountered a non recoverable error and will need to terminate. Th

[2021-08-06 16:27] MikeStall commented on #304
Do you have access to the directories you're using?  Based on the id, this is an System.UnauthorizedAccessException  exception from:

[code]

That said, we should still display the error to the user to aide in diagnosing.

[2021-08-07 12:33] ejcasas commented on #304
That solved the problem. Thank you very much!!!!

[2021-08-07 12:34] #304 closed

[2021-08-09 17:35] mikefactorial commented on #300
Just ran into the same

[code]
Solution
[CenterofExcellenceCoreComponents_2_73.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/6956292/CenterofExcellenceCoreComponents_2_73.zip)
 is attached.

[2021-08-10 14:03] bruhaha1313 commented on #300
Same. I have nothing else useful to add because the log only reports a generic error.

2021-08-10T14:01:07.4307100Z ##[section]Starting: unpack msapp files
2021-08-10T14:01:07.4410032Z ==============================================================================
2021-08-10T14:01:07.4410425Z Task         : PowerShell
2021-08-10T14:01:07.4410777Z Description  : Run a PowerShell script on Linux, mac

[2021-08-24 08:30] lar-mar commented on #300
Hi,
I experience the same issue. It does not matter if I use it within Azure pipeline or within Visual Studio Code:

PS C:\Users\lmartin\Downloads\RunAtBest_1_2_0_41_managed\CanvasApps> pac canvas unpack --msapp hsge_runatbestsimplemode_6812e_DocumentUri.msapp --sources CanvasApp
UnPack from C:\Users\lmartin\Downloads\RunAtBest_1_2_0_41_managed\CanvasApps\hsge_runatbestsimplemode_6812e_DocumentUri

[2021-08-25 12:10] nmedda opened #305 "Unconsistent .fx.yaml"
Hi there,

First of all, thanks for what you're doing. You're making my life so much easier 🙏 .

Regarding my issue now.
I'm in the process of implementing ALM. One of the objective is to have code reviews when a feature is complete.
My idea was that we could export the app, unpack it, commit the changes and then make a pull request.
My issue is that my screen  `fx.yaml` changes a bit too much and

[2021-08-30 17:40] MikeStall commented on #305
We'd like the .fx.yaml to be stable and avoid "noisy diffs". The tool tries to stabilize things on unpack.
Can you send some examples of the diffs you're seeing either to this comment thread (public) or privately to 'jmstall at microsoft dot com'?

[2021-08-30 19:22] MikeStall opened #306 "ThemeJson needs to capture extra properties"

[2021-08-30 20:19] MikeStall commented on #306
Fixed by #307

[2021-08-30 20:19] #306 closed

[2021-08-31 07:19] nmedda commented on #305
Hi,
Here is my latest diff.

(https://github.com/nmedda/pac/commit/a28aa3e466be0269e565d353c3ec3d23d244f35a)

I just added the `.yaml` to showcase just my pb. If you need something else, let me know

[2021-09-01 14:39] mikefactorial commented on #300
Using the latest version of PAC 1.9.4 this appears to still be an issue with certain apps. @manuelap-msft for visibility.

[code]

[2021-09-01 15:00] manuelap-msft commented on #300
I'm attaching the managed and unmanaged solution with this error here, it's the Admin - Power Platform Resource RMS (coe_environmentrequestappadmin_58e3b) that's causing the error
[CenterofExcellenceCoreComponents_2_79.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/7092196/CenterofExcellenceCoreComponents_2_79.zip)

[CenterofExcellenceCoreComponents_2_78_managed.zip](https://gi

[2021-09-01 15:28] MikeStall commented on #305
@nmedda  - I see the commit, thanks. What change did you make here?  Ie, how small _should_  the diff have been?
It looks like this is related to cards.

[2021-09-05 05:18] zhaparoff commented on #300
Probably it could help someone.
Adding a dummy test case with few steps into the default test suite (which was automatically created when I first time opened Test Studion) resolved the issue for me.
Not sure if it also affects the issue somehow, but I've also changed that suite's name from default.
And do not forget to save and publish tests.

[2021-09-06 08:16] manuelap-msft commented on #300
@zhaparoff Thank you so much! This worked for me too!!

[2021-09-10 14:36] famastefano opened #308 "Error PA3005: Validation error: Connection does not have a corresponding data source."
Hello,
just downloaded the extension for VS and tried to unpack an app but this error shows up:
`Error PA3005: Validation error: Connection 'Docs_1' does not have a corresponding data source.`

The fact is that I can't see **Docs_1** anywhere in the Data Sources, maybe it was removed, I don't know.

[code]

[2021-09-15 06:29] nmedda commented on #305
Hi, sorry for the delay, vacation time :)

@MikeStall, I created the expected diff on the master branch : https://github.com/nmedda/pac/commit/4e0173c5518ee0eba7616eaf45cf9653d4951d72

Compared to nmedda/pac@a28aa3e

My example is maybe not the best one, I thought I picked a commit with only a few changes, but it appears I renamed a bunch of object due to typo and naming convention in my team.

An

[2021-09-29 08:08] nmedda opened #310 "Error when unpacking on `.msapp`"
I just installed the latest version and I got an error when unpacking:

[code]

Is there a way to know what the exception is?
Maybe through a verbose parameter or something, but it would really help understand what's going on.

Thanks

[2021-09-29 08:13] nmedda commented on #310
After changing the version (thanks for `pac use` BTW), I figured it needed the `--sources` parameter set.

The command ` pac canvas unpack --msapp .\new_applicationauditetcontrlepermanent_7caa7_DocumentUri.msapp --sources auditetcontrolpermanent`
works with 1.9.4 but doesn't with 1.9.8+g642d61a

Here's the exception id with the correct command: `f4a525a7-7c79-4236-bd06-ebfe91d88f65`

[2021-09-29 12:39] jenschristianschroder commented on #310
I experience the same behavior with 1.9.8

Cannot unpack canvas app

Error message:
Sorry, the app encountered a non recoverable error and will need to terminate. The exception details have been captured and will be forwarded to the development team, if telemetry has been enabled. Exception Id:91cb509d-35d2-42e2-ad7a-e77d765dad80

works with 1.9.4 but not 1.9.8

[2021-09-29 21:39] mikefactorial commented on #310
Related issue workaround for ALM Accelerators /microsoft/coe-starter-kit/#1272

[2021-10-02 07:05] coatsy commented on #310
+ 1 for a more descriptive error message

[2021-10-02 07:14] coatsy opened #311 "`pac` exception message is not helpful"
From the `pac` CLI, the error message returned when an exception (e.g. #310) occurs is not at all descriptive:

The error message should be more helpful and at the least:
1. explain how to enable telemetry
2.  link to the location of the log file (`%localappdata%\Microsoft\PowerAppsCLI\Microsoft.PowerApps.CLI.X.X.X\tools\logs` if using the stand-alone version)
3. Actually log something useful in t

[2021-10-13 07:13] FlexiGit commented on #310
I get this error, too, after updating the AA4AM build templates.
The PowerApps solution I try to export/import has ManifestVersion 0.20. I understand the minimal supported version for the pac cli is 0.24. Is there anything I can do to upgrade the solution to newer ManifestVersion?

[2021-10-13 07:22] FlexiGit commented on #310
I have seen that. Unfortunately that does not help in my case. Version 1.9.4 of pac cli has the minimal version requirement of ManifestVersion 0.24, too.
Previously I was using the temporary unpack solution published with the build templates (not the pac cli).

[2021-10-18 20:52] MikeStall opened #313 "Unpacking some apps has error: does not have a corresponding data source."
Unpacking some apps get this error:

Error   PA3005: Validation error: Connection '[dbo].[ActivePrimaryNotification]_1' does not have a corresponding data source.
1 errors, 0 warnings.

[2021-10-28 20:44] StevenRasmussen opened #314 "Requirement of an empty directory for unpacking .msapp file"
It appears that there is a requirement when unpacking an .msapp file that the destination folder must be empty of all files, or contain a 'CanvasManifest.json' file (see [here](https://github.com/microsoft/PowerApps-Language-Tooling/blob/d8ee30c12de93eebe784b5de1b4d4ae3528589c0/src/PAModel/Utility/DirectoryHelper.cs#L140-L148)). Is there any way to not make this a requirement?  I would like to ext

[2021-11-02 00:21] lesaltzm opened #315 "Add a proper icon for the nuget package"

[2021-11-08 23:16] DaveStabilify opened #317 "Unable to Unpack App"
I am receiving the following error for a few of our larger Canvas Apps:

PA3001: Internal error. An item with the same key has already been added. Key: Microsoft.PowerPlatform.Formulas.Tools.Utility.FilePath

Any ideas?

[2021-11-08 23:30] MikeStall commented on #317
Can you email your msapp to us at jmstall at microsoft dot com?

Are you running PASopa.exe from repository? Or are you using via the Power Apps CLI?

[2021-11-10 10:03] maxdomico opened #319 "Unpack canvas on Power App release 3.21111.22"
We have an issue to unpack canvas which the Power Apps release is 3.21111.22.
`Sorry, the app encountered a non recoverable error and will need to terminate. The exception details have been captured and will be forwarded to the development team, if telemetry has been enabled`

if we roll back to the previous version 3.21103.27, it is working.

[2021-11-13 00:31] melzoghbi opened #321 "Build Fails with latest .net 3.1.414"
Hi,
When i try to build the tooling package. I am getting the following error:

![image](https://user-images.githubusercontent.com/11993393/141598324-b59b6da4-2b3f-42e0-95b6-d0951255fade.png)

[2021-11-15 03:18] PandaLord commented on #319
Same Issue. And you cannot change to the previous version once you save your canvas app in the latest environment.

[2021-11-16 01:34] maxdomico commented on #319
But we can't change it back, so sadly we can't unpack the .msapp to do anything.

[2021-11-16 10:22] MarrinerDev commented on #310
Not sure where to report this. PowerPlatform CLI, Version: 1.9.9+g8a4823f.

pac canvas unpack --msapp SomeApp.msapp --sources SrcFld

 I just exported the MSAPP file for my canvas PowerApp and I'm getting the extremely helpful error: "Sorry, the app encountered a non recoverable error and will need to terminate."
When I run the same command across a version of the app I exported in August, it work

[2021-11-16 10:48] PandaLord commented on #319
we found a workaround for this. You can add a parameter to the URL after you click the "Edit" of the specific app.
Add this after the app url: &studio-version=v3.21103.27.202362840

[2021-11-16 11:34] maxdomico commented on #319
Thanks for your information. Unlucky for me :(, it forces me to open with the new version.
![image](https://user-images.githubusercontent.com/34846356/141978105-ebe1a337-46b8-4e00-9c16-93fe90b21360.png)

[2021-11-16 15:07] PandaLord commented on #319
Don't worry. it is common to have this notification. You can restore to previous version first or simply do it one more time, it will allow you to open directly. Once you have a previous version, you can save it and download a proper one msapp.

[2021-11-17 02:20] maxdomico commented on #319
I got your point, but if we roll back to the previous version. the recent development is gone. How do I get them back?

[2021-11-17 09:12] JackBruceDev commented on #310
I had the same issue with @MarrinerDev, the problem happens for newly exported .msapp file.

[2021-11-17 10:22] Kahltor commented on #319
Same issue for us.
![image](https://user-images.githubusercontent.com/2686851/142182106-eb3d6129-1ae2-4faf-8bf5-1e82b2e85738.png)

[2021-11-17 13:12] maxdomico commented on #319
For your case, assume "groupCotainer" is a group, you should check whether the group exists and regroup a different name? The error message showed the key is duplicated. Hope this can help you.

[2021-11-17 20:59] Kahltor commented on #319
This is an internal error from tooling. In our App there is neither group nor container with name "groupContainer". GroupContainer is an internal name for a layout container control:
![image](https://user-images.githubusercontent.com/2686851/142280767-69e6e534-c270-4f2f-a758-663596c3f642.png)

BTW rollback to v3.21102.25 worked as expected (with loss of the latest changes) and we were able to unpa

[2021-11-17 21:01] lesaltzm commented on #319
This bug was resolved by this fix: https://github.com/microsoft/PowerApps-Language-Tooling/commit/9d4d107765e879b31d6ffcacc936d4b1947ceec1, and that should be picked up by the next version of PAC, whenever that releases.

[2021-11-18 07:40] maxdomico opened #322 "Error: Internal Error. An item with the same key has already been added. Key: groupContainer"
Same issue for us. We're using pasopa.exe.
![image](https://user-images.githubusercontent.com/2686851/142182106-eb3d6129-1ae2-4faf-8bf5-1e82b2e85738.png)

_Originally posted by @Kahltor in https://github.com/microsoft/PowerApps-Language-Tooling/issues/319#issuecomment-971437191_

[2021-11-18 07:41] maxdomico commented on #322
This bug was resolved by this fix: [9d4d107](https://github.com/microsoft/PowerApps-Language-Tooling/commit/9d4d107765e879b31d6ffcacc936d4b1947ceec1), and that should be picked up by the next version of PAC, whenever that releases.

[2021-11-18 07:42] #322 closed

[2021-11-18 12:23] hankanman commented on #319
@lesaltzm not resolved, please see: https://github.com/microsoft/powerplatform-vscode/issues/120#issuecomment-972810626

[2021-11-18 16:25] kiranreloaded commented on #310
Same Issue. This is not working.
Microsoft PowerPlatform CLI
Version: 1.9.9+g8a4823f

Sorry, the app encountered a non recoverable error and will need to terminate. The exception details have been captured and will be forwarded to the development team, if telemetry has been enabled. Exception Id:6193e2bb-8168-4515-b149-0d5eb20e5389

[2021-11-20 20:39] rcopelandburgundy commented on #310
I can also replicate this issue with Version: 1.9.9+g8a4823f. It happens for a specific app, but other apps unpack successfully.

[2021-11-23 19:52] jjkinsey commented on #310
I am also experiencing this issue (versions `1.9.9+g8a4823f` and `1.9.8+g642d61a`) with newly exported `.msapp` files.

[2021-11-23 20:40] megel commented on #310
Any updates, I have the same problem with versions 1.9.9+g8a4823f 😥. Furthermore I can't switch to older versions.

[2021-11-24 11:11] JackBruceDev commented on #310
I think there is similar issue that reported here:
[https://github.com/microsoft/PowerApps-Language-Tooling/issues/319](url)
Seem like it was fixed and will be released in next version.

[2021-11-24 13:23] Stevak opened #323 "Unable to run build.cmd on Windows ARM"
Hi,
I'm not sure whether I have missed something or they should do anything special on Windows ARM, but I'm trying to run build.cmd but don't see the new folders appear, which brings me to the conclusion that it wasn't installed for some reason.
is there any solution for this?

[2021-11-29 13:43] wojtasey commented on #319
Do we have any ETA for this release? It's a blocker for my team.

[2021-11-29 15:38] wjhepworth-tt commented on #319
Yes, this one is major.  When previous issues like this were encountered there were workarounds; however, no acceptable workarounds exist this time.

[2021-11-29 15:44] PandaLord commented on #319
ok, everyone. We found the root cause about this. Just like @Kahltor mentioned, it's about the groupContainer control. So i have such workarounds for you:
1. if you can remove all the container control in your app( i mean with small efforts), you can simply remove all container controls and you will see you can unpack the msapp even in the latest studio version.
2. if you cannot use the approach 1

[2021-11-29 16:31] wjhepworth-tt commented on #319
Thank you for the info, PandaLord.  Unfortunately, our app is really built upon containers.  Removing them is impossible at this juncture.  Based on the previous comments in this thread it seems that this is hopefully just a schema issue that can be fixed on the next update.   Fingers crossed.

-Bill

From: PandaLord ***@***.***>
Sent: Monday, November 29, 2021 10:45 AM
To: microsoft/PowerApps-Lan

[2021-11-30 05:55] maxdomico commented on #319
Guys,

I find a solution to use pasopa. command to unpack/pack .msapp file. **[Verified]**

1. Install .NET Core 3.1.x (x64).
2. Clone the repo at https://github.com/microsoft/PowerApps-Language-Tooling
3. Run build.cmd in the root directory.
4. You can find PASopa.exe and needed dependencies in the bin\Debug\PASopa directory.
5. To unpack a .msapp file: pac canvas unpack --msapp FromApp.msapp --s

[2021-11-30 16:17] jjaramillo commented on #319
I've tried this but when I pack the app into the solution and import it to the environment I get the following message:
![image](https://user-images.githubusercontent.com/962447/144085310-c5c99a1e-5b79-414d-b7c7-96f4fdeff0e2.png)

[2021-12-01 09:57] samuel-weber commented on #310
Me too: Still facing this issue with version 1.9.9

[2021-12-02 20:45] StevenRasmussen commented on #314
Any thoughts on this?

[2021-12-06 20:25] JoshNewham1 opened #324 "PA3011: Roundtrip validation on unpack failed (latest Power Apps update)"
Hi there,

With the latest version of Power Apps Studio (3.21113.12), it seems 'pac unpack' has stopped working for me, but it seems to be only with apps using custom "Dataverse for Teams" controls (e.g. the modern text box). I've attached a test solution where this problem occurs - it's inconvenient at the moment but I can revert to the previous version of Power Apps and it will continue working.

[2021-12-10 11:15] devkeydet commented on #319
pac 1.10.4 is on nuget now:
https://www.nuget.org/packages/Microsoft.PowerApps.CLI/1.10.4
From the release notes:
![image](https://user-images.githubusercontent.com/4499296/145565631-cb6e88db-201a-498a-ab2f-e0388b4a3b81.png)

[2021-12-13 10:20] NimbiMac commented on #317
Any update on this issue? I am getting the same when trying to unpack an msapp. Running PASopa.exe and get this message:
" PA3001: Internal error. An item with the same key has already been added. Key: groupContainer"

Also tried with Power Apps CLI and still failed with this message:
"Sorry, the app encountered a non recoverable error and will need to terminate. The exception details have been ca

[2021-12-13 14:24] Ajeeboy commented on #317
Any update on this issue , I am also gettiing this error message ; Error   PA3001: Internal error. An item with the same key has already been added. Key: groupContainer

Using the PASOPA librraies to unpack my msapp file on my local machine

[2021-12-13 16:19] MattTrinder1 opened #325 "Roundtrip validation on unpack failed. Mysterious AppTests folder causing issues"
I'm getting the above error trying to unpack the attached (zipped) app.

[cp_suddendeathazurecontinuous_49558_DocumentUri.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/7705237/cp_suddendeathazurecontinuous_49558_DocumentUri.zip)

[2021-12-13 16:26] MattTrinder1 commented on #325
This error only occurs if there is a single empty test case present - once the case has had a single step added the error no long happens.

[2021-12-14 14:43] jenschristianschroder opened #326 "PA3011 Roundtrip validation on unpack failed"
We are getting "PA3011 Roundtrip validation on unpack failed" error when unpacking canvas app with PAC CLI 1.10.4.

We are also getting "PA2001 Checksum mismatch" warnings on the References\DataSources.json file.

Even with above errors the canvas app seems to be unpacked successfully. We are able to pack the canvas app from the source output and it can be imported via a solution and edited and pl

[2021-12-17 09:57] anskanth commented on #319
Is there any resolution for this? Unfortunately our app has number of container controls and its no way possible for us to remove them. And also it is not possible to change the version of the app as well as we have so much of functionality built in last couple of days..

I just need to unpack the file to compare the changes with previous version..  I tried @jjaramillo suggestion to use PASopa, th

[2021-12-17 09:59] hankanman commented on #319
Update to PAC CLIE 1.10.4 resolves this https://www.nuget.org/packages/Microsoft.PowerApps.CLI/1.10.4

[2021-12-17 10:27] anskanth commented on #319
@hankanman i tried that already .. no luck..  :(
<img width="662" alt="image" src="https://user-images.githubusercontent.com/20016296/146530418-afa65c16-70b9-4ffd-9c43-cb66a992ccfe.png">

[2021-12-17 11:42] hankanman commented on #319
@anskanth I did have this on one compile, but there was an issue with the app itself, try re-exporting the app and unpacking again first. I don't mind taking a look for you if you share the .msapp file

[2021-12-17 13:02] PandaLord commented on #319
@anskanth you can try "pac use latest" first.

[2021-12-19 18:26] Bregor-Mar-Rian commented on #308
Same issue here. It fails with the same type of error.
The app had a data connection that was removed at some point in a standard way.

For some of our other apps (where we also deleted certain old data connections), same [unpack](https://docs.microsoft.com/en-us/powerapps/developer/data-platform/cli/reference/canvas-command#:~:text=msapp%20HelloWorld.msapp-,unpack,-Unpacks%20the%20.msapp) seems t

[2021-12-21 16:00] NimbiMac commented on #319
Anyone been able to find which files / directory / properties are causing the following error?
_PA3001: Internal error. An item with the same key has already been added. Key: groupContainer_

`Have used pasopa -unpack [msapp] [directory for unpacked files]`

Have used another tool to be able to search and edit files before being unpacked by this source code tool. But unable to spot what the issue

[2021-12-22 21:31] ccolomier opened #327 "Invalid UTF-8 JSON txt to UTF-16 string"
I am getting the following error:

`Error   PA3001: Internal error. Cannot transcode invalid UTF-8 JSON text to UTF-16 string.`

It is not helpful because I cannot locate what file has invalid JSON. Is there any way to know which file is causing this error?

[2021-12-23 12:52] PratikSoni2889 commented on #321
@melzoghbi : any luck with this issue? I am also facing the same.

[2022-01-03 18:01] seancale commented on #310
Still experiencing this issue on version 1.10.4+gf23be2f

[2022-01-03 18:09] jjkinsey commented on #310
@seancale With a newly exported `.msapp` file? I'm able to unpack Canvas apps using `pac` version `1.10.4+gf23be2f`. (My Power Apps release is `3.21114.18`; I assume that's relevant.)

[2022-01-03 19:08] seancale commented on #310
@jjkinsey Yes, my app was just exported a couple of hours ago. I'm experiencing the lack of helpful error messages. I can unpack apps just fine but I get a nondescript error message when trying to pack them.

[2022-01-03 19:20] jjkinsey commented on #310
@seancale What's the error? I'm able to round-trip apps, though I do get a warning message on unpack:
[code]

[2022-01-03 19:43] seancale commented on #310
@jjkinsey
Here's what I'm getting from the output:

[code]

There's no warnings or errors being printed. Out of curiosity, I cloned this repository, and ran the pack command inside a Visual Studio debug session and got this exception instead:

[code]

It seems to be a file encoding issue coming from the JSON parser. All of my JSON files are encoded as UTF-8 but I think something in my environment

[2022-01-03 19:51] jjkinsey commented on #310
Ah, okay. It might be worth posting in another issue (maybe https://github.com/microsoft/PowerApps-Language-Tooling/issues/311?) about this; this issue was more about a specific (now resolved) problem with unpacking apps.

[2022-01-04 11:06] guenthi opened #328 "PA3011: Roundtrip validation on unpack failed."
Receiving "PA3011 Roundtrip validation on unpack failed" error when unpacking our canvas app with pac cli 1.10.4+gf23be2f

Despite of the error-message, the command unpacks the canvas app. The produced output-source can be packed with PA-2001 check-sum warning.

Full output of pac canvas unpack:
UnPack from d:\Temp\pac\CanvasApps\name-of-app.msapp-->D:\temp\pac\tmp
  source format version: 0.24
Er

[2022-01-05 14:50] StevenRasmussen commented on #314
Bueller... Bueller...  Is this project still being maintained?

[2022-01-06 09:04] jenschristianschroder commented on #326
Did a little more digging and found that the msapp file does not contain any collections with above naming (17.K3Mf9I2ZSkCceYWHGMs9oQ==.[collection name]) so seems this naming is coming from the unpack process.

After renaming the msapp file to zip and extracting the content I see the following data source definition:
[code]

In the unpacked source code the data source definition looks like this:

[2022-01-10 08:37] jenschristianschroder commented on #326
This seems to have been fixed on the platform side.

the strangely named collection is now named as expected and unpack works.

[2022-01-10 08:37] #326 closed

[2022-01-11 15:52] jenschristianschroder commented on #328
Do you have any Dataverse for Teams controls in you canvas app? That will fail the roundtrip validation and result in the experience you describe.

[2022-01-11 17:57] guenthi commented on #328
within the app we have created 3 very simple custom components - beside these we are just using the out-of-the box objects/controls. the unpacking broke around 3 weeks ago - in this timeframe we did not make an changes to the custom components

[2022-01-11 18:11] TheFoolFred1 commented on #317
Add me to the list of people experiencing Error PA3001: Internal error. An item with the same key has already been added. Key: groupContainer when trying to unpack.

I, too, am using PASopa.exe on my local machine.

I have been able to successfully unpack other programs without issue.

I recently had one program that kicked up an error (different from the above error) and painstakingly copied the

[2022-01-11 18:24] MikeStall commented on #317
@TheFoolFred1  - can you email me your msapp at jmstall at microsoft dot com

[2022-01-11 19:12] MikeStall opened #331 "support inline excel"
Apps with inline excel don't unpack.

Attaching an example. (Git won't let you attach an .msapp file, so rename .msapp.zip --> .msapp)
[InlineExcel.msapp.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/7849289/InlineExcel.msapp.zip)

[2022-01-11 19:23] MikeStall commented on #328
@guenthi  - can you mail me your msapp as a repo, at jmstall at microsoft dot com?

[2022-01-12 04:34] Wicky2k8 opened #332 "System.Text.Encodings.Web 4.7.2 Not Found (Only 5.0.0)"
Unable to compile as System.Text.Encodings.Web 4.7.2 is not available. However 5.0.0 is, and after removing the requirement (or changing it to 5.0.0) in Microsoft.PowerPlatform.Formulas.Tools.csproj the package builds successfully (and seems to work fine.)

I'm running macOS Monterey 12.1 with .NET 3.1.22 (SDK 3.1.416)

[code]

[2022-01-14 04:06] Naim62467 opened #333 "pack and unpack power platform solution."
Hi All,

I am facing solution unpack issue when I am trying to push code in ALM git.
 Roundtrip validation on unpack failed. This is always a bug, please file an issue.

 Error is below:

 Generating script.

========================== Starting Command Output ===========================

"C:\Program Files\PowerShell\7\pwsh.exe" -NoLogo -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Comm

[2022-01-26 13:54] timnudecision opened #337 "create custom components and custom properties from outside the canvas app studio"
feature request - ability to create custom properties in YAML file and import into a canvas app.

my current workflow is to create a custom component and properties in the studio, export the .msapp and unpack it.  then i modify the power-fx code in the YAML file, pack it and import to my canvasapp.

this all works well, I've not found any issues with the current tooling.  but this is not a long-te

[2022-01-26 16:35] MikeStall commented on #333
Can you email your msapp to jmstall at microsoft dot com?

[2022-01-26 16:45] MikeStall commented on #327
Can you email your msapp to jmstall at microsoft dot com

[2022-01-26 16:48] MikeStall commented on #308
Can you email your msapp to jmstall at microsoft dot com

[2022-01-28 12:45] Naim62467 commented on #333
I have email you. thanks

[2022-01-28 20:04] jt000 commented on #313
Duplicate of #308

[2022-01-28 20:04] #313 closed

[2022-01-30 01:28] wjhepworth-tt commented on #328
@MikeStall - We are experiencing the same situation.  No teams or CDS involved.  This app does use components and containers.  It's been generally working.  If this helps, we have the following resources:

- Separate component library
- Custom connectors pointing to APIs
- SQL Server connectors

[2022-02-01 03:58] Naim62467 commented on #333
Hi Mike, If I am trying to work on other app still I am facing same issue for my other app. Kindly suggest.

[2022-02-01 10:52] devkeydet opened #338 "Error unpacking Custom Pages msapp files"
I am using custom pages:
https://docs.microsoft.com/en-us/powerapps/maker/model-driven-apps/add-page-to-model-app
When I try to unpack msapp files that are pages, I get the following errors.  Attached is the solution that is causing the errors.
[CutstomPageTest.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/7977772/CutstomPageTest.zip)

  _source format version: 0.24
Error   PA

[2022-02-01 14:32] Naim62467 opened #339 "the app encountered a non recoverable error and will need to terminate. Or pack msapp files"
Hi All,

I am facing solution unpack issue when I am trying to push code in ALM git.
the app encountered a non recoverable error and will need to terminate. The exception details have been captured and will be forwarded to the development team, if telemetry has been enabled. Exception Id:##########################

View raw log

Starting: pack msapp files
==========================================

[2022-02-02 21:59] NavneetThekkumpat commented on #331
I couldn't reproduce the same, not sure if this happens still.  (tried unpacking using pac and pasopa)

[2022-02-07 18:37] tomjschneider commented on #333
Hi @Naim62467. I'm currently looking into this issue and what may be causing it.

I believe it may have something to do with the screen in your app `GetsupportScreen` having the same name as your component `GetSupportscreen`.

If you'd like to work around this while I investigate further, you can use the `PASopa.exe` in this repo directly. Directions for doing this can be found [in the repo README

[2022-02-08 13:22] mpil commented on #333
Hey @tomjschneider, I am experiencing the same problem. I have cloned this repo and ran PASopa.exe locally, this is what I received:

![2022-02-08_14h19_52](https://user-images.githubusercontent.com/11491812/152995508-2ed2b6b9-c1bc-4125-8d41-71ffaf38e97e.png)

Any thoughts?

[2022-02-08 13:56] tomjschneider commented on #333
Hey @mpil, can you email your msapp to tschneider at microsoft dot com and I will take a closer look?

[2022-02-08 15:25] mpil commented on #333
@tomjschneider Email sent.

[2022-02-09 14:12] tomjschneider opened #342 "Components and Template fail checksum on roundtrip"
Filing on behalf of a separate roundtrip issue raised by @mpil in [Issue 333](https://github.com/microsoft/PowerApps-Language-Tooling/issues/333).

Performing on unpack on their app produces multiple component checksum failures on roundtrip and a checksum failure on the reference template:
![image](https://user-images.githubusercontent.com/71468580/153218123-100d446d-38b1-491c-aea4-eca0ca80281f.pn

[2022-02-09 19:00] NavneetThekkumpat commented on #301
Hi @ianwilk20,

I followed the steps and tried reproducing the issue with latest version of the standalone tool (and pac) but was unable to reproduce the problem.
Can you please check if this issue still exists?

Thank you

[2022-02-15 20:37] IC-Jonathan-Roussel commented on #317
We're getting a pretty similar error to TheFoolFred1 above with PowerApps v3.22015.22.
When unpacking a few of our PowerApps, we received a few of the following errors which caused unpacking to fail.
`PA3001: Internal error. An item with the same key has already been added. Key: groupContainer`

We are running PASopa.exe from repository, not using the Power Apps CLI.

I've been instructed not to s

[2022-02-16 12:09] epujadas-kaefer commented on #305
Hello,

First, thank you very much for the tool development, its really great and it saved me lots of time!

I can't figure out how the tool chooses to name certain variables, whenever I unpack an .msapp, the variable names seem to alternate between their real name and a pseudonym? Don't know how to call it...

Example: Full_x0020_Name to 'Full Name', and vice versa.

This creates lots of noisy di

[2022-02-16 14:15] SiPurdy opened #346 "Ability to get JSON output on requests"
Hi
For automation purposes it would be useful if outputs could be in JSON format for consumption in processes.

For example with`pac admin list`, instead of a fixed(ish) width table as current, having parsable json that would be easier to programatically ingest.

Thanks

[2022-02-17 17:00] manuelap-msft opened #347 "unpack msapp files fails with PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue"
We are getting "PA3011 Roundtrip validation on unpack failed" error when unpacking canvas app with PAC CLI 1.11. The error fails our pipelines and prevents us to source control the solution.

Full output of pac canvas unpack:

[code]

I'm attaching the managed version of the solution
[CenterofExcellenceNurtureComponents_2_6_2_managed.zip](https://github.com/microsoft/PowerApps-Language-Tooling/fil

[2022-02-18 14:03] raphaelcharreyron-bib commented on #347
Same issue on our side...
========================== Starting Command Output ===========================
"C:\Program Files\PowerShell\7\pwsh.exe" -NoLogo -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command ". 'D:\a\_temp\7079b4a0-8bc6-4e16-b14d-e7564a43fb54.ps1'"
UnPack from D:\a\1\s\MQ - DevOps Maturity\DevOpsMaturity\SolutionPackage\CanvasApps\new_devopsmaturity_b1253_DocumentUri.m

[2022-02-18 17:10] NavneetThekkumpat commented on #301
Since this seems to be nonreproducible, closing this issue for now.
Please feel free to reopen the issue, if it happens in future.

[2022-02-18 17:10] #301 closed

[2022-02-20 06:16] swiftinitdotcom opened #349 "When I export its exporting as zip but command says use .msapp"
When I export its exporting as zip but command says use
.msapp
How to use it as msapp

[2022-02-21 13:59] epujadas-kaefer commented on #349
Inside the app editor, go to "File", then "Save as", and then "my computer" or something along those lines.

![image](https://user-images.githubusercontent.com/82584686/154968839-371d96d2-98a9-4422-a9b1-87e2a2b82388.png)

Or alternatively you can find the .msapp inside that .zip.

Hope I could help!

[2022-02-21 16:59] IC-Jonathan-Roussel opened #350 "Error unpacking some PowerApps"
We're currently unable to unpack a few of our apps on PowerApps v3.22015.22.
When unpacking a few of our PowerApps, we received a few of the following errors which caused unpacking to fail.

`PA3001: Internal error. An item with the same key has already been added. Key: groupContainer`

We are running PASopa.exe from this repository, not using the Power Apps CLI.
It seems, from our perspective, th

[2022-02-22 20:33] winterscar commented on #347
Same on our side, happy to provide an msapp if needed.

[2022-02-22 23:38] winterscar commented on #347
Hotfix (although this is kinda sketchy):
Add this in export-Solution.yml
[code]

[2022-03-01 19:30] ccolomier commented on #327
Thank you for responding. The project the application is being used for has sensitive information that I am not at liberty to share. If I can recreate the error in an application that can be shared I will come back to this issue. For now though I am not sure when, or if, that app will be created.

[2022-03-01 21:06] NPrice99 commented on #347
Hi
I also got this issue when unpacking Admin - Control Centre from the Microsoft CoE
Error   PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue at https://github.com/microsoft/PowerApps-Language-Tooling
1 errors, 4 warnings.

Regards

Nigel

[2022-03-02 21:14] tomjschneider commented on #347
Marking as in next release and will close this Issue when the change is added to the Power Platform CLI.

[2022-03-02 21:46] jt000 commented on #350
@IC-Jonathan-Roussel - Do you have an MSApp that we can use to reproduce the issue? If so, please send it to tschneider at microsoft.com.

[2022-03-02 21:55] jt000 commented on #349
@swiftinitdotcom - I'm guessing the ZIP that you are seeing is the solution export, which as @epujadas-kaefer mentioned will contain your .msapp. Alternatively, saving to your computer is a way to directly download the MSApp.

Hope this helps. If not, please feel free to reopen.

[2022-03-02 21:55] #349 closed

[2022-03-04 09:45] richardhardinguk commented on #347
We're struggling with this too - I see there's a fix in the codebase now and this is marked as in next release, but when will the next release be? Thanks!

[2022-03-04 14:27] tomjschneider commented on #325
This issue has been merged into the Power Platform CLI and will be available in the next release.

[2022-03-04 14:27] #325 closed

[2022-03-04 14:27] tomjschneider commented on #333
This issue has been merged into the Power Platform CLI and will be available in the next release.

[2022-03-04 14:27] #333 closed

[2022-03-05 16:39] #332 closed

[2022-03-07 14:22] tomjschneider commented on #347
This fix has been complete in this repo and integrated into the Power Platform CLI. We're just waiting for the next release of the Power Platform CLI and this issue should be resolved. I don't have a specific date for that release, but will comment on this when the release is complete.

[2022-03-07 14:22] #347 closed

[2022-03-07 20:53] AlexBrownShi opened #355 "App within Solution Checksum Fail on Unpack"
We have a solution that contains an App.  We unpack the solution, then we have to unpack the app.
When we unpack the app we receive:

UnPack from E:\Repos\PartnerCertifications\PartnerCertifications\CanvasApps\new_pcap_7bb8d_DocumentUri.msapp-->E:\Repos\PartnerCertifications\CanvasUnpacked\new_pcap_7bb8d_DocumentUri.msapp
  source format version: 0.24
Error   PA3011: Roundtrip validation on unpack

[2022-03-08 16:33] satishkotaru commented on #355
We are also facing the same issue even in local and through Pipeline's as well! Any update's? @microsoftopensource @NavneetThekkumpat

[2022-03-08 16:40] NavneetThekkumpat commented on #355
@AlexBrownShi / @satishkotaru can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-08 21:23] tomjschneider commented on #324
Validated this was resolved with [PR 351](https://github.com/microsoft/PowerApps-Language-Tooling/pull/351). This will be available in the next release of the PAC CLI.

[2022-03-08 21:23] #324 closed

[2022-03-08 21:59] mikefactorial commented on #355
We've started seeing this in the CoE Starter Kit ALM Accelerator App as well when unpacking the ALM Accelerator App itself. Will forward the msapp for repro. If it helps, we were able to unpack successfully using PAC CLI as recently as February 19th which was the last time we tried since today.

[2022-03-09 07:11] PatrickMichaelKriegler commented on #355
We are also facing this issue. We previously got the same generic Roundtrip error when we were using a Teams component in one of our canvasapps. We removed that component and everything worked well for a few weeks. We haven't added any Teams or custom components that we suspect are provoking it. The one thing that has been added to the apps that may be a bit out of the ordinary is ModelDrivenFormI

[2022-03-09 16:29] MikeStall commented on #331
This appears to be working.   The excel sheet is being passed inline in the data of a data source.

        {
            "Name": "SimpleTable",
            "Schema": "*[Name:s, Score:n, Score2:n]",
            "IsSampleData": false,
            "IsWritable": false,
            "Type": "StaticDataSourceInfo",
            "OriginalSchema": "*[Name:s, Score:n, Score2:n]",
            "Data": "[{\"Na

[2022-03-09 16:29] #331 closed

[2022-03-09 18:29] landonarogers commented on #328
This specific issue is fixed now as of this pull request: https://github.com/microsoft/PowerApps-Language-Tooling/pull/351 . The fix will be available in the next version of the PAC CLI.

Note: 'Roundtrip validation on unpack' may appear again, but it should not for this issue (as the issue should be fixed). This is more of a broad message that can occur from a number of different issues.

[2022-03-09 18:29] #328 closed

[2022-03-10 18:57] joseph-parker-95 opened #357 "Roundtrip Validation on Unpack Failed"
![image](https://user-images.githubusercontent.com/101288394/157735186-da7e42a0-c37c-41ac-99c6-3414ca96c6ab.png)

Another bug  -- this has been repeating constantly for me!

[2022-03-10 20:36] NavneetThekkumpat commented on #317
@IC-Jonathan-Roussel : can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-11 05:39] vibraniumforge opened #358 "Error PA3011: Roundtrip validation on unpack failed."
Getting this consistently on a certain PowerApp. One other PowerApp seems to unpack fine. The full text says to file an issue. This seems to be the same error as the issue filed right before my issue.

`Generating script.
========================== Starting Command Output ===========================
"C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe" -NoLogo -NoProfile -NonInteractive -Exe

[2022-03-14 14:03] NavneetThekkumpat commented on #357
@joseph-parker-95 can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-14 14:04] NavneetThekkumpat commented on #358
@vibraniumforge  can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-14 14:39] landonarogers commented on #350
This issue is a duplicate of 317; feel free to move discussions there! https://github.com/microsoft/PowerApps-Language-Tooling/issues/317

[2022-03-14 18:44] NavneetThekkumpat commented on #339
@Naim62467 can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-15 04:22] MikeStall commented on #327
Can you run the app under PASopa and stop on first chance exceptions and report the callstack? The locals there will also tell you the current file.

[2022-03-15 04:23] MikeStall commented on #222
Resolving no repro  - if you do get a repro and can share the msapp, please reopen.

[2022-03-15 04:23] #222 closed

[2022-03-15 04:39] MikeStall commented on #225
If I just round-trip an app with a combo box, "Allow searching" roundtrips.
I wonder if this is some IR reconstruction that somehow loses the IsSearchable property in a round-trip, but I can't repro it.

[2022-03-15 04:46] MikeStall commented on #327
We should modify InternalError() to also include the callstack to help diagnose this.

[2022-03-15 05:01] MikeStall commented on #305
@epujadas-kaefer  - the tool _shouldn't_ be interfering with formula content.  0x20 is ascii for space, so it looks like Full_x0020_Name is an escaped version of 'Full Name'.  Are the left and the right just taking the same msapp and unpacking it twice? if so, can you file a new issue for that? It's different than the noisy issue first reported here.

[2022-03-15 05:07] MikeStall commented on #305
I think for the original issue @nmedda is reporting, we need to ensure that the controls in the fx.yaml are being listed in a canonical order (ie, alphabetical).

Example from his diff:
https://raw.githubusercontent.com/nmedda/pac/a28aa3e466be0269e565d353c3ec3d23d244f35a/Formulaire.fx.yaml

[2022-03-15 16:04] epujadas-kaefer opened #359 "Inconsistent variable names in .fx.yaml"
Hello, I'm creating a new Issue in regard of the inconsistent variable names when using the tool PAsopa, I'm quoting the comments made in the other issue:

Reply:

In the example given there where no changes at the formula level in the lines shown, but there where changes in other parts of the application that shouldn't have modified the variable names.

The variables are referencing Sharepoint Li

[2022-03-15 16:56] stevetyler commented on #339
I enabled Git integration for my repo which seemed to work ok, but then I noticed I couldn't edit the app anymore in Power Apps Studio.

![image](https://user-images.githubusercontent.com/3901346/158430636-b157abdb-9ec7-4430-b811-4bfa75e92a74.png)

One solution I read was to use this utility but I'm getting a similar error packing as well.
[code]

[2022-03-15 19:34] jt000 commented on #225
@RoSchoe, this may have been fixed as a part of another issue. Are you still able to reproduce this issue?

[2022-03-15 19:39] jt000 commented on #193
@m3ngi3 - This occurs due to the nature of the way connectors are stored on the backend. I don't think we'd be able to address this easily in the canvas pack\unpack and is (I believe) expected given changes to the connectors are changing. If this continues to cause you issues, please re-open and we can take a deeper look.

[2022-03-15 19:39] #193 closed

[2022-03-17 17:29] Laskewitz commented on #358
Having the same issue. Will mail the msapp to you @NavneetThekkumpat!

[2022-03-21 17:20] NavneetThekkumpat commented on #296
@EPTS-Dev :
As another workaround, please try closing quotes with the description and not on new line (on all the test steps and actions).
Also try removing all extra spaces or empty new lines too.

[2022-03-22 01:49] msjammu opened #362 "Unpack failed - Sorry, the app encountered a non-recoverable error and will need to terminate"
UnPack from E:\path\CustomerHub\CanvasApps\chub_customerhubdev_27d08_DocumentUri.msapp-->E:\path\CustomerHub\CanvasApps\chub_customerhubdev_
27d08_DocumentUri
  source format version: 0.24
Sorry, the app encountered a non-recoverable error and will need to terminate. The exception details have been captured and will be forwarded to the development team, if telemetry has been enabled. Exception Id:

[2022-03-22 14:25] tomjschneider commented on #342
This appears to have been resolved in the latest version of PAC CLI.

[2022-03-22 14:25] #342 closed

[2022-03-22 15:08] NavneetThekkumpat commented on #317
The latest version of the PAC CLI (1.13.4) has been released which includes a fix for the error reported here. If you are still experiencing roundtripping errors on the latest version of the CLI, please open a new Issue in the repo.

[2022-03-22 15:08] #317 closed

[2022-03-22 15:17] #355 closed

[2022-03-22 15:18] landonarogers commented on #358
The latest version of the PAC CLI (1.13.4) has been released which includes support for PCF Components. If you are still experiencing roundtripping errors on the latest version of the CLI, please open a new Issue in the repo.

[2022-03-22 19:02] NavneetThekkumpat commented on #362
@msjammu can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-23 14:25] jansonjc opened #366 "Roundtrip validation on unpack failed."
**Describe the bug**
The following error was output twice while trying to unpack a CanvasApps msapp file.

`Error   PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue at https://github.com/microsoft/PowerApps-Language-Tooling`

Reproduced using PAC CLI Version: 1.13.4+g79187cf

**To Reproduce**

Steps to reproduce the behavior:
1. Unpacking
2. `pac canvas unp

[2022-03-23 17:20] lesaltzm opened #367 "Add StyleCop enforcement on build to this repo"
Leaving nits on PRs isn't productive. We should enable StyleCop in this project. See https://github.com/microsoft/Power-Fx/blob/702ab0802eed8fc6f8abdf43be8fb09252b7ca5a/src/PowerFx.ruleset for the rules used by PowerFx, it's been a significant improvement in the PR process.

[2022-03-23 18:19] landonarogers commented on #191
Could no longer reproduce the original issue causing the crash. Closing issue.

[2022-03-23 18:19] #191 closed

[2022-03-24 01:22] yiwl0612 opened #369 "Roundtrip validation fails for PCF localization changes of adding a new property DisplayNameKey"
- [x] Please attach a sample .msapp to this Issue which demonstrates the issue you are experiencing. *(Please do not attach any file which may contain sensitive personal or company data.)*

**Describe the bug**

The PA ALM check fails for the msapp with the changes of adding a new property "DisplayNameKey" to the PowerAppsControl and there is a diff in the checksum.
![image](https://user-images.gi

[2022-03-24 10:40] maskati commented on #362
Same issue here with `pac canvas unpack`.

PowerPlatform CLI version 1.12.2 resulted in:
`Error   PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue at https://github.com/microsoft/PowerApps-Language-Tooling`

but at least the unpack result seemed complete and valid. Now version 1.13.4 results in:
`Sorry, the app encountered a non recoverable error and will n

[2022-03-24 13:40] NavneetThekkumpat commented on #366
@jansonjc can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-24 13:46] NavneetThekkumpat opened #370 "Unpack results in missing multiple artifacts"
**Describe the bug**

Same issue here with pac canvas unpack.

PowerPlatform CLI version 1.12.2 resulted in:
Error PA3011: Roundtrip validation on unpack failed. This is always a bug, please file an issue at https://github.com/microsoft/PowerApps-Language-Tooling

but at least the unpack result seemed complete and valid. Now version 1.13.4 results in:
Sorry, the app encountered a non recoverable e

[2022-03-24 13:47] NavneetThekkumpat commented on #362
@maskati created https://github.com/microsoft/PowerApps-Language-Tooling/issues/370 to track your issue separately.

[2022-03-24 13:48] NavneetThekkumpat commented on #370
@[maskati](https://github.com/maskati) : can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-03-24 15:39] jack-work commented on #369
A property was added to the schema for PcfJson in a recent change to the internal PowerApps-Client repo.  Because the property was not included in the PowerApps-Language-Tooling repo, the value is discarded.

[2022-03-24 16:26] vibraniumforge commented on #358
CONFIRMED! This is working now. Thanks a lot everyone!

[2022-03-24 16:48] landonarogers commented on #308
The latest version of the PAC CLI (1.13.4) has been released which includes support for this issue. If you are still experiencing roundtripping errors on the latest version of the CLI, please open a new Issue in the repo.

[2022-03-24 16:48] #308 closed

[2022-03-24 16:48] landonarogers commented on #300
The latest version of the PAC CLI (1.13.4) has been released which includes support for PCF Components. If you are still experiencing roundtripping errors on the latest version of the CLI, please open a new Issue in the repo.

[2022-03-24 16:50] landonarogers commented on #261
Hey @ArsyMus ; Are you still seeing this issue? Thanks!

[2022-03-24 16:52] landonarogers commented on #41
@MikeStall Is this issue still in progress?

[2022-03-24 16:53] landonarogers commented on #89
@MikeStall Is this issue still in progress?

[2022-03-24 16:53] landonarogers commented on #94
@MikeStall Is this issue still in progress?

[2022-03-24 16:54] landonarogers commented on #97
@MikeStall Is this issue still in progress?

[2022-03-24 16:56] landonarogers commented on #175
@MikeStall Is this issue still in progress?

[2022-03-28 14:23] gerald560 opened #372 "Unpack msapp files fail on error"
- [ x] App attached

**export-solution-to-git**

2022-03-28T14:12:35.1943265Z ##[section]Starting: Unpack msapp files fail on error
2022-03-28T14:12:35.2072726Z ==============================================================================
2022-03-28T14:12:35.2073098Z Task         : PowerShell
2022-03-28T14:12:35.2073370Z Description  : Run a PowerShell script on Linux, macOS, or Windows
2022-03-2

[2022-03-28 17:42] #369 closed

[2022-03-30 12:27] nwmb commented on #372
The above noted bug is also causing issues for us in our pipelines.  We've tried with multiple versions of the PAC CLI and are facing the same issue.  Any workarounds or fixes that could be shared would be greatly appreciated!

[2022-03-30 13:07] #367 closed

[2022-03-31 12:35] maskati commented on #370
@NavneetThekkumpat sorry I missed your message. Unfortunately I cannot share the msapp directly without going through an approval process. However I can confirm that the issue is resolved by custom building from [81aba52](https://github.com/microsoft/PowerApps-Language-Tooling/tree/81aba52dd3161dc89dc065341824d0375a2ca633) and unpacking using pasopa.exe.

[2022-03-31 13:10] NavneetThekkumpat commented on #370
@maskati Thank you for confirming the issue is resolved and hence closing this issue.

[2022-03-31 13:10] #370 closed

[2022-04-04 19:31] NavneetThekkumpat commented on #359
@epujadas-kaefer : Can we get the network trace of this happening when loaded in studio? Also it looks like this could be something that's happening on the Sharepoint end.

[2022-04-04 19:37] jjaramillo commented on #372
We are able to use the tool if we go back to version 1.12.2, however latest version does not work when attempting to unpack a canvas app

[2022-04-05 13:26] jjaramillo commented on #366
I can confirm this also happens to my team.
Our app uses both pcf code components and components stored on a custom component library
Switching back to version 1.12.2 allows us to extract the canvas app

[2022-04-06 04:52] jjaramillo commented on #372
As of today we are unable to use pac to unpack our canvas app

[2022-04-06 17:44] tomjschneider commented on #305
This issue is being reevalauted as the fix needed to be rolled back.

[2022-04-07 15:02] NavneetThekkumpat commented on #372
@jjaramillo  can you mail me your msapp as a repo, at nthekkumpat at microsoft dot com?

[2022-04-07 18:04] arpavan commented on #305
This issue is being further investigated internally and based on our findings we believe it may not be an issue with PALT at this point. Closing this issue.

[2022-04-07 18:04] #305 closed

[2022-04-08 19:16] #261 closed

[2022-04-08 19:17] #225 closed

[2022-04-08 19:18] landonarogers commented on #175
If you're looking to run in browser, this may be a good resource: https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor

[2022-04-08 19:18] #175 closed

[2022-04-08 19:20] #97 closed

[2022-04-11 16:07] NavneetThekkumpat opened #380 "Components hash mismatch with AllowAccessToGlobals property value changed"
Components hash mismatch with AllowAccessToGlobals property value changed while unpacking the .msapp

**Describe the bug**
Reproducible using pac and pasopa unpack

**To Reproduce**

Steps to reproduce the behavior:
1. Unpacking

**Screenshots**

If applicable, add screenshots of error messages to help explain your problem.
![image](https://user-images.githubusercontent.com/98551644/162782747-2ab8

[2022-04-13 13:09] NavneetThekkumpat commented on #359
Closing this issue for now. Please feel free to open a new issue if the problem persists. Thank you

[2022-04-14 16:01] tomjschneider opened #382 ""Illegal characters in path" exception when unpacking with PAC CLI"
**Describe the bug**

When a special character is included in the name of a control, and that character is not a valid character name for a Windows file, the unpack command fails during execution. This occurs in the PAC CLI.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a Power App with a control that contains a special character such a `>`.
2. Save the `.msapp` locally and unpack

[2022-04-14 16:02] #382 closed

[2022-04-15 14:01] NavneetThekkumpat commented on #338
Tested unpacking the .msapps mentioned with the latest PAC CLI (Version: 1.14.2+g7205df7).
Unpacks successfully and seems like this issue is resolved and hence closing this issue.
Please feel free to open a new issue if this persists in future.

[2022-04-15 14:01] #338 closed

[2022-04-15 20:02] arpavan commented on #372
@gerald560 for your specific example in the [eDVIR - TEST.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/8363619/eDVIR.-.TEST.zip) app provided, it appears this is happening due to a (now fixed) bug that caused the "Access app scope" property for custom components to end up in an inconsistent state. To address this, first ensure that you have the latest version of PAC CLI, and

[2022-04-15 20:37] DaveStabilify opened #385 "Unpack fails with error"
- [ ] Please attach a sample .msapp to this Issue which demonstrates the issue you are experiencing. *(Please do not attach any file which may contain sensitive personal or company data.)*
- [ ] Cannot attach file because of sensitive data.

**Describe the bug**

Error   PA3001: Internal error. An item with the same key has already been added. Key: Microsoft.PowerPlatform.Formulas.Tools.Utility.Fi

[2022-04-18 15:02] jt000 commented on #41
Note that Backward Compatibility is not garunteed at this time while in Preview. As needed, tests on Yaml Pack\Unpack will be added on a case-by-case basis for supported scenarios.

[2022-04-18 15:02] #41 closed

[2022-04-18 15:13] #259 closed

[2022-04-18 15:24] jt000 commented on #314
Thank you @StevenRasmussen for the suggestion & the PR. We're not accepting enchancements at this time to focus on stabilizing the pack\unpack component. I've labeled it as an "enhancement" so we can come back to this after we've stabilized to discuss the impact of your change & potentially pull it in at that time.

[2022-04-18 15:28] jt000 commented on #323
Hi @Stevak, we unfortunately don't currently support ARM at this time for this library

[2022-04-18 15:28] #323 closed

[2022-04-18 15:38] NavneetThekkumpat commented on #385
@DaveStabilify : Can you confirm if this was reproduced using PAC Cli or PASopa? Also please specify the version used. Thank you

[2022-04-18 15:41] landonarogers commented on #107
Thank you everyone for your responses! We've collected your feedback and appreciate the time you've spent on improving this repo.

[2022-04-18 15:41] #107 closed

[2022-04-18 15:43] landonarogers commented on #111
Thank you all for your input on this issue! We've collected your responses and we appreciate the time you've spent on discussing how to improve this repo!

[2022-04-18 15:43] #111 closed

[2022-04-18 15:46] landonarogers commented on #213
Thank you for your suggestion! We've collected your feedback as a team and appreciate the time you've spent on this!

[2022-04-18 15:46] #213 closed

[2022-04-18 17:32] landonarogers commented on #321
Thank you for reaching out! As of now, I would try using version 3.1.418.

[2022-04-18 17:32] #321 closed

[2022-04-18 21:02] jt000 commented on #281
Thank you for the suggestion @johnelsbree. We're actually intending to go the opposite direction and _remove_ a lot of the business logic out of the canvas pack\unpack. The eventual dream is that the YAML formats are used natively on the server within the MSApp & the canvas pack\unpack purely becomes solely a zip\unzip tool with very little business logic. It would be up to the server to provide v

[2022-04-18 21:02] #281 closed

[2022-04-18 21:28] davidjenni commented on #311
@coatsy @jjkinsey (and @seancale, since you asked a related followup Q in #310):
The fast exit "Sorry, the app encountered a non recoverable error" error message in pac CLI was deliberately chosen since dumping a full error stack on users would be rather overwhelming and generally not useful or actionable.

But we do understand and sympathize with the tension of some of our users :-) In recent rel

[2022-04-18 21:40] davidjenni commented on #276
@p3pijn
This is a generic pac CLI question, not really related to this PowerApps language library (the pac CLI does host and ship with this library). We don't have a good public GH issue tracker for pac CLI questions & issues yet, but our best match for general pac CLI questions for now is the microsoft/powerplatforms-vscode repo. I'll transfer this Q over there and resolve this one here.

Note to

[2022-04-19 18:02] #92 closed

[2022-04-19 21:17] davidjenni commented on #385
@DaveStabilify this seems to be the same issue as what you logged in microsoft/powerplatform-vscode#188, but one repro with PASopa (this 385) and the other in pac CLI (188)?
As requested in 188, our internal team will likely need the .msapp for a repro

CC @NavneetThekkumpat

[2022-04-20 06:57] nmedda opened #386 "Improve commands exit code for scripting"
**Description**

`pac auth select -i x` always return True

I'm creating scripts to help manipulate my solutions in a multi developer setup.
But when I select my authentication, it always returns true.

[code]

So I need to catch this error somehow, to make sure were not importing a solution if we're not targeting the expected environement.

**Suggestion**

Return a non zero value if there is no a

[2022-04-20 14:26] NavneetThekkumpat commented on #385
@DaveStabilify : From error logs above, it looks like

- It seems like an asset name collision.
- That said, please confirm if there are multiple assets with the same name. If so, try changing the name to be different.
- If its an image asset, try changing
![image](https://user-images.githubusercontent.com/98551644/164251415-76592fd2-0040-4e32-8595-c01c5f1aa3c6.png)
- To confirm the renaming, you

[2022-04-21 14:51] arpavan commented on #380
This is a known issue with apps generated in a previous version of Power Apps Studio where the property in the msapp associated with the Access App Scope property for a custom component can get out of sync with other same property in other locations within the msapp file structure. We've documented the resolution steps via a workaround for this and other similar known issues in our [Known Issues d

[2022-04-21 14:51] #380 closed

[2022-04-21 16:59] #21 closed

[2022-04-22 17:26] NavneetThekkumpat commented on #385
@DaveStabilify Also can you confirm the version of PAC or PASopa used ?

[2022-04-28 00:23] davidjenni commented on #386
@nmedda thanks for the feedback (and the team appreciates your thank you :-).
I'll move this issue over to our powerplatform-vscode repo/issue tracker, since it is not specific to PALT (we don't have a public GH repo for pac CLI yet, so the pp-vscode is a good in-between for now).

Tracking AzDO item: AB#2693024

[2022-05-02 18:29] landonarogers commented on #296
@EPTS-Dev Do you have a current way we could reproduce this issue in PowerApps, so that we can see on our end what exactly causes the error? Thank you for your time and patience!

[2022-05-02 20:38] tomjschneider opened #399 "YamlWriter does not serialize certain types types with leading `=`"
The public `YamlWriter` class currently serializes `int`, `double`, and `bool` data types to YAML without adding the leading `=`. As noted in the [Power Apps YAML Source File Format](https://github.com/microsoft/PowerApps-Language-Tooling/blob/master/docs/YAMLFileFormat.md#leading-), all values should be serialized to have a leading '='. Not doing so will cause a formula warning in the property of

[2022-05-03 04:56] landonarogers commented on #385
This fix will be available in the next version of PAC CLI.

[2022-05-03 04:56] #385 closed

[2022-05-03 13:57] #399 closed

[2022-05-10 11:12] gbystron opened #405 "Frozen app in PowerApp Studio, in edit mode"
Hi,

Please see attached the description of the issue that I'm encountering (step by step what I'm doing, with printscreens)
The problem is with themes.json file, as when I replace it with default (from blank app) it's working without any issue
[Frozen App description.docx](https://github.com/microsoft/PowerApps-Language-Tooling/files/8661005/Frozen.App.description.docx)

![image](https://user-ima

[2022-05-10 14:04] gbystron commented on #405
@landonarogers I use PASopa in powershell/cmd and I think I have the latest version 0.24? You talking about PA3011 error? Worse error is that I have frozen app in PowerApps studio and those two issues are different

[2022-05-10 15:06] landonarogers commented on #405
Gotcha; you might want to try running the PAC CLI instead of PASopa. That should give you the new messages and/or fix the issue.

[2022-05-10 15:34] landonarogers commented on #405
No problem! So the first part of the command is correct:

'pac canvas unpack'

However, you also have to use the `--sources` flag and the `--msapp` flag.
After the `--sources` flag, put the path to where you want the unpacked app to go. This has to be an empty folder and/or a folder that does not already exist (but will be created from this command, after it runs).

After the `--msapp` flag, you n

[2022-05-10 15:43] gbystron commented on #405
In ms docs they didn't mention about source and in PASopa you don't need to mention source.
So I unpack it without any errors. Is pac better then PASopa then? What about frozen app, are you also gonna look at it?
Not sure how this Github support or/and Github in general working

[2022-05-10 15:45] #357 closed

[2022-05-10 15:51] landonarogers commented on #366
@jansonjc If you're still experiencing roundtrip errors:

We've updated the error message to be much more descriptive. If you run `pac install latest`, and then try again, you will get updated error messages. Please post the new ones in a new GitHub issue. We appreciate your time to file these bugs and we also appreciate your patience!

[2022-05-10 15:51] #366 closed

[2022-05-10 16:21] jjaramillo commented on #366
Apparently the issue was being triggered because there was an empty test suite on the app's tests. Once we fixed that everything went fine

[2022-05-10 18:29] landonarogers opened #406 "Git Integration affects editing in Studio"
I enabled Git integration for my repo which seemed to work ok, but then I noticed I couldn't edit the app anymore in Power Apps Studio.

![image](https://user-images.githubusercontent.com/3901346/158430636-b157abdb-9ec7-4430-b811-4bfa75e92a74.png)

One solution I read was to use this utility but I'm getting a similar error packing as well.
[code]

_Originally posted by @stevetyler in https://githu

[2022-05-10 18:32] landonarogers commented on #406
Good afternoon, @stevetyler ! I moved your issue to a new thread; it seems that you may be using PASopa to pack. Could you try updating your PAC CLI (by running `pac install latest`) and then running PAC CLI instead?

[2022-05-10 18:50] landonarogers commented on #327
@ccolomier Good afternoon! We improved the logs, as of PALT release 0.4.2-preview. That should be available in PAC CLI now. Could you let us know if the logging is better for you now, and/or if your issue is resolved.

[2022-05-10 19:36] landonarogers commented on #405
@gbystron For your frozen app issue; did you change your Themes.json file manually? And if so, how did you change it?

[2022-05-10 19:53] gbystron commented on #405
I did manually. I wanted to create my own theme. Unpack msapp, edit
themes.json file in VSCode, pack, open in power apps. For few weeks it was
working fine. As there is a way to edit it in power apps without frozen
app, I don't know exactly at what time I did something wrong in
themes.json. However I didn't have any error messages when packing msapp,
but I did it with PASopa. Tomorrow I'll try to

[2022-05-14 06:08] gbystron commented on #405
There is no errors using pac

On Tue, May 10, 2022, 21:52 Grzegorz Bystroń ***@***.***> wrote:

[2022-05-16 19:39] #372 closed

[2022-05-17 15:52] landonarogers commented on #405
So, .json files need to be handled with great care. Editing them directly comes with a risk of causing unexpected behavior in PowerApps Studio, because it is not hardened for anything it does not expect. Unfortunately, we're unable to assist with any issues caused by editing .json files directly, at the moment. I apologize for the inconvenience!

However, there are two possible things you could do

[2022-05-17 15:52] #405 closed

[2022-05-17 15:53] landonarogers commented on #405
So, .json files need to be handled with great care. Editing them directly comes with a risk of causing unexpected behavior in PowerApps Studio, because it is not hardened for anything it does not expect. Unfortunately, we're unable to assist with any issues caused by editing .json files directly, at the moment. I apologize for the inconvenience!

However, there are two possible things you could do

[2022-05-19 10:10] jansonjc opened #417 "PowerApps Cli creating a usersettings.json in the wrong path"
**Describe the bug**

The PowerApp Cli seems to be creating the usersetting.json in a wrong path. Instead of creating in user's Library folder, it seems to be creating in the application folder. This is happening in MacOS. The attached screenshot will help explain this better.

Version: 1.15.3+g79950a8

**To Reproduce**

* Install Power Platform Tools for Visual Studio Code (Mac M1)
* Execute any

[2022-05-31 06:49] gbystron commented on #405
Unfortunately, I can't handle themes directly in Studio due to company policy, I don't have some admin privileges to use CoE pack. There is my only way to create my own theme

I've been trying to resolve it by myself for the last few days and it seems that I found the root of the issue. Turnout that there is a required property in 'palette' in themes.json: 'PrimaryColor1', once I restored this pro

[2022-06-09 22:11] davidjenni commented on #417
@jansonjc oh, that's a bizarre bug, thanks for reporting it!
I assume you're installing the pac CLI on your mac via the [PP VSCode extension](https://marketplace.visualstudio.com/items?itemName=microsoft-IsvExpTools.powerplatform-vscode), right?

I wasn't able to repro it on my MBP when only using pac CLI (e.g. `pac telemetry disable`, then `... enable` would force writing the usersettings file).

[2022-06-27 17:01] akjana35 opened #425 "Switch to Guids for Control UniqueId"
ControlUniqueId is currently an integer, evolving it a Guid will allow Studio Experiences to refer to Controls by a unique identifier that is unique, avoids exhaustion of value range over time when persisted across sessions.

Current example:
ControlUniqueIds in entropy.json
`"ControlUniqueIds": {
    "App": 1,
    "Label1": 4,
    "Screen1": 3
  },`

Proposed example:
`"ControlUniqueGuids": {

[2022-06-27 17:02] akjana35 commented on #425
Posting the issue for feedback, I'll post a PR for this proposed change today.

[2022-06-29 22:39] #425 closed

[2022-06-30 05:34] neversleepz opened #428 "PA3013: Property Value Changed: TopParent.Children[0].Children[0].Rules[2].InvariantScript"
- [ ] Please attach a sample .msapp to this Issue which demonstrates the issue you are experiencing. *(Please do not attach any file which may contain sensitive personal or company data.)*

I can email the file or provide a link through our companies fileshare service (will need an email address)

**Describe the bug**

Using the pac cli, I'm getting PA3013 error and a PA2001 error when trying to u

[2022-07-11 21:01] JonKragh opened #431 "Ability to package with explicit Power Apps runtime version"
Hi - we are looking to suggest a feature.

Is there a way to package a canvas app with an explicit Power Apps runtime version? We are facing an ongoing issue with a mission-critical app where new Power Apps releases create new bugs and once we release our prod app gets a new version.

Ideally, we could package an msapp file with an explicit Power Apps runtime version.

Thanks,
Jon

[2022-07-12 15:51] mitchellromanuik opened #432 "Connections.json"
I have a few questions on the purpose of Connections.json.

PASopa.exe doesnt seem to consider this file when packing up the canvas application.

We have been using DevOp Pipelines to Automate our build processes across environments and tenants as well. The pipeline works great with using solutions, connection references, and environment variables.

However! The only issue (that hasnt been built o

[2022-07-20 16:53] tomjschneider commented on #428
@neversleepz , thanks for the details in the bug report. If you have the sample app, could you send it to or share it with tschneider at microsoft dot com?

You are likely correct that the `PA2001` warning is from manually editing the msapp file, but the `PA3011` is something we'll look in to in more detail.

[2022-07-20 16:59] tomjschneider commented on #431
Hey @JonKragh , thanks for the feedback and suggestion. I'm going to tag this as a potential future improvement and will bring it up to the team.

[2022-07-20 17:57] tomjschneider commented on #432
@mitchellromanuik , I'll do my best to answer this and provide some general information. If you have a specific example of the change you're making that might help me to provide more detailed feedback.

My understanding of the Connections.json and how it works is that it holds reference information to a Power Platform Connection. Ultimately, that Power Platform Connection is what determines the li

[2022-07-27 14:16] tomjschneider commented on #428
Hey @neversleepz , just wanted to check in again and see if you had a sample app you could send me way for this issue?

[2022-07-28 06:10] neversleepz commented on #428
Hi Tom, I am currently on leave sorry.  I'll try to get you an app in
the next day or two
Kon

On Thu, 28 Jul 2022 at 00:16, Tom Schneider ***@***.***>
wrote:

[2022-08-15 07:16] jenschristianschroder opened #436 "v0..4.5-preview: Exception calling "LoadFromMsapp" with "1" argument(s): "Sequence contains no matching element""
- [ ] Please attach a sample .msapp to this Issue which demonstrates the issue you are experiencing. *(Please do not attach any file which may contain sensitive personal or company data.)*

**Describe the bug**

A clear and concise description of what the bug is.
In ALM Accelerator we are using the Microsoft.PowerPlatform.Formulas.Tools.dll v0.4.5-preview to unpack canvas apps.
We get the followin

[2022-08-15 10:06] jenschristianschroder commented on #436
We have managed to resolve this.

It turned out that the Canvas app referencing an outdated version of a custom component. Updating to latest version resolved the issue.

Will leave this issue open for you to close so that you have a chance to read this.

Thanks!

[2022-08-31 17:40] tomjschneider commented on #432
Closing this for now - please feel free to re-open if you have any additional questions or concerns.

[2022-08-31 17:40] #432 closed

[2022-09-16 17:21] tomjschneider opened #440 "NullRefException when unpacking .msapp"
**Describe the bug**

See https://github.com/microsoft/powerplatform-build-tools/issues/194

Unpacking customer app throws a roundtrip error and a NullReferenceException. Sample app provided to team - can be reproduced in latest PASopa.

**To Reproduce**

Steps to reproduce the behavior:
1. Unpack provided msapp
2. Observe NullReferenceException

[2022-09-28 15:15] #440 closed

[2022-10-05 03:49] LukasSchauffele opened #442 "Error on unpack with unused Dataverse data source"
- [x] Please attach a sample .msapp to this Issue which demonstrates the issue you are experiencing. *(Please do not attach any file which may contain sensitive personal or company data.)*

[Manage Your Groups.msapp.zip](https://github.com/microsoft/PowerApps-Language-Tooling/files/9712223/Manage.Your.Groups.msapp.zip)

**Describe the bug**

A clear and concise description of what the bug is.
Plea

[2022-10-07 14:48] diegopozzi1 opened #443 "Folder with spaces causes Build.cmd to fail"
I'm trying to "install" the tool but the build.cmd gives me always the same error:

![build cmd](https://user-images.githubusercontent.com/93269508/194581978-f4f68054-86d7-4102-ad52-3d7d852cfe3d.png)

[2022-10-11 13:46] jt000 commented on #443
Hi @diegopozzi1, thanks for reporting. Can you attach the full build logs?

[2022-10-11 14:01] diegopozzi1 commented on #443
Hi @jt000  I'm not able to find logs under the execution path

the whole powershell session:

PS C:\Users\diego.pozzi\OneDrive - MyCompanyName\Documenti\GitHub\PowerApps-Language-Tooling> .\build.cmd

Unable to find root directory using git, assuming this script is being run from root = C:\Users\diego.pozzi\OneDrive - MyCompanyName\Documenti\GitHub\PowerApps-Language-Tooling
rebuild: Starting... (

[2022-10-11 15:43] jt000 commented on #443
Ah, I was able to reproduce. Looks like it's due to the space in the folder name. As a workaround, can you move it to a folder without spaces in the name?

[2022-10-20 04:41] mandinger opened #447 "Fail to unpack any app that contains more than one AIModel control"
**Describe the bug**
Trying to unpack any canvas app containing 2 or more AiModels controls fails with the PA2001 and PA3015 errors

A clear and concise description of what the bug is.
Failed to unpack solution using PASopa V0.24

**To Reproduce**

Steps to reproduce the behavior:
1. Unpacking any solution with 2 or more AIModel controls

[errorLog.txt](https://github.com/microsoft/PowerApps-Langu

[2022-10-20 14:54] alexandrebakercode opened #448 "Issue building on Mac"
I am trying to run the ./build and the ./buld ci and get the following error

$ ./build
rebuild: Starting... (rebuild)
rebuild: clean: Starting...
targets: dotnet clean /Users/Alex/Power Platform Tools/PowerApps-Language-Tooling/src/PASopa.sln --configuration Debug /clp:verbosity=minimal /flp:Verbosity=normal;LogFile=/Users/Alex/Power Platform Tools/PowerApps-Language-Tooling/obj/logs/clean-Debug.

[2022-10-20 18:30] tomjschneider commented on #448
Hey @alexandrebakercode , we're aware of an issue when building at a path that contains spaces (see https://github.com/microsoft/PowerApps-Language-Tooling/issues/443). It looks like you may be hitting the same issue. Can you try running build from a location which does not have spaces in the folder name and let me know if that works?

[2022-10-20 18:33] tomjschneider commented on #447
Thanks for the example app @mandinger. I'll get this to the team for investigation.

[2022-10-24 16:36] tomjschneider commented on #448
Closing as a duplicated for #443. Feel free to re-open if you feel otherwise, or a path name with no spaces does not resolve your issue.

[2022-10-24 16:36] #448 closed

[2022-10-24 17:16] NavneetThekkumpat commented on #442
Marking this as 'in next release' and will be completed once changes are in next release of the Power Platform CLI.

[2022-10-25 18:11] tomjschneider opened #449 ""PA3001: Internal error. '0x89' is an invalid start of a value" when unpacking msapp"
Running unpack on the provided msapp results in the following error:
[code]

Originally found as part of https://github.com/microsoft/powerplatform-build-tools/issues/221

[2022-11-07 08:19] iBoonz opened #450 "Datasource SharePoint List entities"
Hi,

We are trying to automatically build a Power App based on the data. We already have this up and running with Dataverse, where based on one or more Dataverse tables, we generate a default canvas and set the right Datasources via the PowerApps Language Tooling.
With Dataverse we had the different URI in the DataSource files to recreate the file dynamically.
We are now trying to do the same with

[2022-11-09 15:26] #450 closed